<header class="header" [ngClass]="router.url == '/' || router.url == '/despre-noi' ? 'header-transparent' : ''" >
  <div class="header-middle sticky-header" [ngClass]="{'sticky' : isSticky}">
    <div class="container-fluid">
      <div class="header-left">
        <a routerLink="/" class="logo">
          <img class="logo-not-sticky" src="assets/images/logo-yw.svg" alt="Pro Staff">
          <img class="logo-sticky" src="assets/images/logo-wb.svg" alt="Pro Staff">
        </a>
      </div><!-- End .header-left -->

      <div class="header-center">
        <nav class="main-nav">
          <ul class="menu sf-arrows">
            <li>
              <a routerLink="/produse">Produse</a>
             
            </li>
            <li><a routerLink="/despre-noi">Despre noi</a></li>
            <li><a href="">Proiecte</a>
              <ul>
                <li>
                  <a routerLink="/proiecte/interior">Interior</a>
                </li>
                <li>
                  <a routerLink="/proiecte/exterior">Exterior</a>
                </li>
              </ul>
            </li>

            <li><a routerLink="/blog">Noutati</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <!-- <li>
              <a class="nav-link" [routerLink]="['admin', 'dashboard']">Dashboard</a>
            </li> -->

          </ul>

        </nav>

        <div class="header-contact">
          <i class="icon-phone"></i>
          <a href="tel:#">0721.203.933</a>
        </div><!-- End .header-contact -->
      </div><!-- End .header-center -->

      <div class="header-right">
        <button class="mobile-menu-toggler" type="button">
          <i class="icon-menu"></i>
        </button>
        <!-- <div class="header-search header-search-popup header-search-category d-none d-sm-block">
          <a href="#" class="search-toggle" role="button"><i class="icon-magnifier"></i></a>
          <form action="#" method="get">
            <div class="header-search-wrapper show">
              <input type="search" class="form-control" name="q" id="q" placeholder="I'm searching for..." required="">
              <div class="select-custom">
                <select id="cat" name="cat">

                  <option value="">Toate categoriile</option>
                  <option value="4">VOPSEA LAVABILA</option>
                  <option value="4">VOPSEA DECORATIVA</option>
                  <option value="4">VOPSEA METAL</option>
                  <option value="4">PENTRU LEMN</option>
                  <option value="4">VOPSEA PARDOSEALA</option>
                  <option value="4">VOPSEA CERAMICA</option>
                  <option value="4">HIDROIZOLATII</option>
                  <option value="4">CAMERE COPII</option>
                  <option value="4">APARATE ȘI SCULE DE VOPSIT</option>

                </select>
              </div>
              <button class="btn icon-search-3" type="submit"></button>
            </div>
          </form>
        </div> -->

        <div class="dropdown cart-dropdown">
          <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" data-display="static">
            <span class="cart-count">{{cartTotal$}}</span>
          </a>
          <div class="dropdown-menu dropdown">
            <div class="dropdownmenu-wrapper">
              <div class="dropdown-cart-products">

                <div class="product" *ngFor="let product of items$ | async" (removeFromCart)="removeCart(product)">
                  <div class="product-details">
                    <h4 class="product-title">
                      <a routerLink="/produs/{{product.alias}}">{{product.product_name}}</a>
                    </h4>

                    <span class="cart-product-info">
                      <span class="cart-product-qty">{{product.num}}</span>
                      x {{product.selectedPrice}} lei
                    </span>
                    
                    
                  </div><!-- End .product-details -->

                  <figure class="product-image-container">
                    <a routerLink="/produs/{{product.alias}}" class="product-image">
                      <img src="{{product.image_url}}" alt="product">
                    </a>
                    <a (click)="removeCart(product)" class="btn-remove" title="Remove Product"><i class="icon-cancel"></i></a>
                    <div class="additional-info">
                      <div class="cart-product-qnt" *ngIf="product.selectedQnt">
                        <span>{{product.selectedQnt}}</span>
                      </div>
                      <div class="cart-product-color" *ngIf="product.selectedColor">
                        <img src="{{product.selectedColor}}" alt="" *ngIf="!product.selectedColor.includes('#')">
                        <span style="width:20px; height: 20px; display: flex" *ngIf="product.selectedColor.includes('#')" [ngStyle]="{backgroundColor: product.selectedColor}"></span>
                      </div>
                    </div>
                  </figure>
                </div><!-- End .product -->

               
              </div><!-- End .cart-product -->

              <div class="dropdown-cart-total" *ngIf="cartTotal$ > 0">
                <span>Total</span>

                <span class="cart-total-price">{{totalPrice$}} lei</span>
              </div><!-- End .dropdown-cart-total -->

              <div class="dropdown-cart-action" *ngIf="cartTotal$ > 0">
                <a [routerLink]="['/cos-cumparaturi']" class="btn btn-orange">Vezi cos</a>
                <a [routerLink]="['/finalizeaza-comanda']" class="btn btn-orange">Finalizeaza</a>
              </div><!-- End .dropdown-cart-total -->
              <div class="cart-empty" *ngIf="cartTotal$ === 0">
                <p>Nu ai niciun produs in cos!</p>
              </div>
            </div><!-- End .dropdownmenu-wrapper -->
          </div><!-- End .dropdown-menu -->
        </div><!-- End .dropdown -->
        <div class="dropdown user-account" [class.logged-in]="isAuthentificated">
          <a routerLink="/autentificare" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" data-display="static">
            <img src="/assets/icons/user-account.svg" alt="">
          </a>

          <div class="dropdown-menu dropdown" *ngIf="isAuthentificated">
            <div class="dropdownmenu-wrapper">
              <div class="dropdown-cart-action" >
                <a href="" class="btn btn-orange">Contul meu</a>

                <a href="" class="btn btn-orange">Delogare</a>
              </div>
            </div>  
          </div>
        </div>
      </div><!-- End .header-right -->
    </div><!-- End .container-fluid -->
  </div><!-- End .header-middle -->
</header><!-- End .header -->
