<header class="header" [ngClass]="router.url == '/' || router.url == '/despre-noi' ? 'header-transparent' : ''" >
  <div class="header-middle sticky-header" [ngClass]="{'sticky' : isSticky}">
    <div class="container-fluid">
      <div class="header-left">
        <a routerLink="/" class="logo">
          <img class="logo-not-sticky" src="assets/images/logo-transparent-1.png" alt="Pro Staff">
          <img class="logo-sticky" src="assets/images/logo.png" alt="Pro Staff">
        </a>
      </div><!-- End .header-left -->

      <div class="header-center">
        <nav class="main-nav">
          <ul class="menu sf-arrows">
            <li>
              <a routerLink="/produse">Produse</a>
              <!-- <ul>
								<li><a href="">Home</a></li>
								<li><a href="category.html">Categories</a>
									<ul>
										<li><a href="#">Variations 1</a>
											<ul>
												<li><a href="category-banner-full-width.html">Fullwidth Banner<span class="tip tip-hot">Hot!</span></a></li>
												<li><a href="category-banner-boxed-slider.html">Boxed Slider Banner</a></li>
												<li><a href="category-banner-boxed-image.html">Boxed Image Banner</a></li>
												<li><a href="category-sidebar-left.html">Left Sidebar</a></li>
												<li><a href="category-sidebar-right.html">Right Sidebar</a></li>
												<li><a href="category-flex-grid.html">Product Flex Grid</a></li>
												<li><a href="category-horizontal-filter1.html">Horizontal Filter 1</a></li>
												<li><a href="category-horizontal-filter2.html">Horizontal Filter 2</a></li>
											</ul>
										</li>
										<li><a href="#">Variations 2</a>
											<ul>
												<li><a href="#">Product List Item Types</a></li>
												<li><a href="category-infinite-scroll.html">Ajax Infinite Scroll</a></li>
												<li><a href="category-3col.html">3 Columns Products</a></li>
												<li><a href="category-4col.html">4 Columns Products <span class="tip tip-new">New</span></a></li>
												<li><a href="category-5col.html">5 Columns Products</a></li>
												<li><a href="category-6col.html">6 Columns Products</a></li>
												<li><a href="category-7col.html">7 Columns Products</a></li>
												<li><a href="category-8col.html">8 Columns Products</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="product.html">Products</a>
									<ul>
										<li><a href="#">Variations</a>
											<ul>
												<li><a href="product.html">Horizontal Thumbnails</a></li>
												<li><a href="product-full-width.html">Vertical Thumbnails<span class="tip tip-hot">Hot!</span></a></li>
												<li><a href="product.html">Inner Zoom</a></li>
												<li><a href="product-addcart-sticky.html">Addtocart Sticky</a></li>
												<li><a href="product-sidebar-left.html">Accordion Tabs</a></li>
											</ul>
										</li>
										<li><a href="#">Variations</a>
											<ul>                                                        
												<li><a href="product-sticky-tab.html">Sticky Tabs</a></li>
												<li><a href="product-simple.html">Simple Product</a></li>
												<li><a href="product-sidebar-left.html">With Left Sidebar</a></li>
											</ul>
										</li>
										<li><a href="#">Product Layout Types</a>
											<ul>
												<li><a href="product.html">Default Layout</a></li>
												<li><a href="product-extended-layout.html">Extended Layout</a></li>
												<li><a href="product-full-width.html">Full Width Layout</a></li>
												<li><a href="product-grid-layout.html">Grid Images Layout</a></li>
												<li><a href="product-sticky-both.html">Sticky Both Side Info<span class="tip tip-hot">Hot!</span></a></li>
												<li><a href="product-sticky-info.html">Sticky Right Side Info</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="#">Pages</a>
									<ul>
										<li><a href="cart.html">Shopping Cart</a></li>
										<li><a href="#">Checkout</a>
											<ul>
												<li><a href="checkout-shipping.html">Checkout Shipping</a></li>
												<li><a href="checkout-shipping-2.html">Checkout Shipping 2</a></li>
												<li><a href="checkout-review.html">Checkout Review</a></li>
											</ul>
										</li>
										<li><a href="#">Dashboard</a>
											<ul>
												<li><a href="dashboard.html">Dashboard</a></li>
												<li><a href="my-account.html">My Account</a></li>
											</ul>
										</li>
										<li><a href="about.html">About Us</a></li>
										<li><a href="#">Blog</a>
											<ul>
												<li><a href="blog.html">Blog</a></li>
												<li><a href="single.html">Blog Post</a></li>
											</ul>
										</li>
										<li><a href="contact.html">Contact Us</a></li>
										<li><a href="#" class="login-link">Login</a></li>
										<li><a href="forgot-password.html">Forgot Password</a></li>
									</ul>
								</li>
								<li><a href="#" class="sf-with-ul">Features</a>
									<ul>
										<li><a href="#">Header Types</a></li>
										<li><a href="#">Footer Types</a></li>
									</ul>
								</li>
							</ul> -->
            </li>
            <li><a routerLink="/despre-noi">Despre noi</a></li>
            <li><a href="">Proiecte</a>
              <ul>
                <li>
                  <a routerLink="/proiecte/interior">Interior</a>
                </li>
                <li>
                  <a routerLink="/proiecte/exterior">Exterior</a>
                </li>
              </ul>
            </li>

            <li><a routerLink="/blog">Noutati</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <!-- <li>
              <a class="nav-link" [routerLink]="['admin', 'dashboard']">Dashboard</a>
            </li> -->

          </ul>

        </nav>

        <div class="header-contact">
          <i class="icon-phone"></i>
          <a href="tel:#">0721.203.933</a>
        </div><!-- End .header-contact -->
      </div><!-- End .header-center -->

      <div class="header-right">
        <button class="mobile-menu-toggler" type="button">
          <i class="icon-menu"></i>
        </button>
        <!-- <div class="header-search header-search-popup header-search-category d-none d-sm-block">
          <a href="#" class="search-toggle" role="button"><i class="icon-magnifier"></i></a>
          <form action="#" method="get">
            <div class="header-search-wrapper show">
              <input type="search" class="form-control" name="q" id="q" placeholder="I'm searching for..." required="">
              <div class="select-custom">
                <select id="cat" name="cat">

                  <option value="">Toate categoriile</option>
                  <option value="4">VOPSEA LAVABILA</option>
                  <option value="4">VOPSEA DECORATIVA</option>
                  <option value="4">VOPSEA METAL</option>
                  <option value="4">PENTRU LEMN</option>
                  <option value="4">VOPSEA PARDOSEALA</option>
                  <option value="4">VOPSEA CERAMICA</option>
                  <option value="4">HIDROIZOLATII</option>
                  <option value="4">CAMERE COPII</option>
                  <option value="4">APARATE ȘI SCULE DE VOPSIT</option>

                </select>
              </div>
              <button class="btn icon-search-3" type="submit"></button>
            </div>
          </form>
        </div> -->

        <div class="dropdown cart-dropdown">
          <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" data-display="static">
            <span class="cart-count">{{cartTotal$}}</span>
          </a>
          <div class="dropdown-menu dropdown">
            <div class="dropdownmenu-wrapper">
              <div class="dropdown-cart-products">

                <div class="product" *ngFor="let product of items$ | async" (removeFromCart)="removeCart(product)">
                  <div class="product-details">
                    <h4 class="product-title">
                      <a routerLink="/produs/{{product.alias}}">{{product.product_name}}</a>
                    </h4>

                    <span class="cart-product-info">
                      <span class="cart-product-qty">{{product.num}}</span>
                      x {{product.selectedPrice}} lei
                    </span>
                  </div><!-- End .product-details -->

                  <figure class="product-image-container">
                    <a routerLink="/produs/{{product.alias}}" class="product-image">
                      <img src="{{product.image_url}}" alt="product">
                    </a>
                    <a (click)="removeCart(product)" class="btn-remove" title="Remove Product"><i class="icon-cancel"></i></a>
                  </figure>
                </div><!-- End .product -->

               
              </div><!-- End .cart-product -->

              <div class="dropdown-cart-total" *ngIf="cartTotal$ > 0">
                <span>Total</span>

                <span class="cart-total-price">{{totalPrice$}} lei</span>
              </div><!-- End .dropdown-cart-total -->

              <div class="dropdown-cart-action" *ngIf="cartTotal$ > 0">
                <a [routerLink]="['/cos-cumparaturi']" class="btn btn-orange">Vezi cos</a>
                <a [routerLink]="['/finalizeaza-comanda']" class="btn btn-orange">Finalizeaza</a>
              </div><!-- End .dropdown-cart-total -->
              <div class="cart-empty" *ngIf="cartTotal$ === 0">
                <p>Nu ai niciun produs in cos!</p>
              </div>
            </div><!-- End .dropdownmenu-wrapper -->
          </div><!-- End .dropdown-menu -->
        </div><!-- End .dropdown -->
        <!-- <div class="dropdown user-account">
          <a href="" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" data-display="static">
            <img src="/assets/icons/user-account.svg" alt="">
          </a>

          <div class="dropdown-menu dropdown">
            <div class="dropdownmenu-wrapper">

            </div>
          </div>
        </div> -->
      </div><!-- End .header-right -->
    </div><!-- End .container-fluid -->
  </div><!-- End .header-middle -->
</header><!-- End .header -->
