<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Login</li>
      </ol>
    </div><!-- End .container-fluid -->
  </nav>

  <div class="page-header">
    <div class="container">
      <h1>Autentifica-te sau creeaza cont</h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="heading">
          <h2 class="title">Autentificare</h2>
          <p>Daca aveti deja cont, va rugam sa va autentificati.</p>
        </div><!-- End .heading -->
        <div class="error alert alert-danger" *ngIf="error">{{error}}</div>
        <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
          <input type="text" name="email" class="form-control" placeholder="Email" [(ngModel)]="login.email"
            #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
          <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors.required">Te rugam sa introduci email-ul!</div>
            <div *ngIf="email.errors.email">Email-ul nu este valid!</div>
          </div>
          <input type="password" name="password" class="form-control" placeholder="Parola" [(ngModel)]="login.password"
            #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required>
          <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
            <div *ngIf="password.errors.required">Te rugam sa introduci parola</div>

          </div>

          <div class="form-footer">
            <button type="submit" class="btn btn-primary">Autentificare</button>
            <a href="/am-uitat-parola" class="forget-pass"> Ai uitat parola?</a>
          </div><!-- End .form-footer -->
        </form>
      </div><!-- End .col-md-6 -->

      <div class="col-md-6">
        <div class="heading">
          <h2 class="title">De ce sa-ti faci cont?</h2>
          <p>Avantaje unui cont pe site-ul nostru consta plasarea mai rapida a comenzii, posibilitatea de a stoca si de
            alege rapid adresele de livrare si vizualizarea comenzii sau a istoricului comenzilor.</p>

        </div><!-- End .heading -->

        <form (ngSubmit)="register.form.valid && signup()" #register="ngForm" [mustMatch]="['password', 'confirmPassword']"
          novalidate>
          <input type="text" name="name" class="form-control" placeholder="Nume" [(ngModel)]="model.name"
            #name="ngModel" [ngClass]="{ 'is-invalid': register.submitted && name.invalid }" required>
          <div *ngIf="register.submitted && name.invalid" class="invalid-feedback">
            <div *ngIf="name.errors.required">Te rugam sa introduci numele!</div>
          </div>
          <input type="text" name="lastName" class="form-control" placeholder="Prenume" [(ngModel)]="model.last_name"
            #last_name="ngModel" [ngClass]="{ 'is-invalid': register.submitted && last_name.invalid }" required>
          <div *ngIf="register.submitted && last_name.invalid" class="invalid-feedback">
            <div *ngIf="last_name.errors.required">Te rugam sa introduci prenumele</div>
          </div>

          <h2 class="mb-2">Informatii cont</h2>
          <input type="text" name="email" class="form-control" placeholder="Email" [(ngModel)]="model.email"
            #email="ngModel" [ngClass]="{ 'is-invalid': register.submitted && email.invalid }" required email>
          <div *ngIf="register.submitted && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors.required">Te rugam sa introduci email-ul!</div>
            <div *ngIf="email.errors.email">Email-ul nu este valid!</div>
          </div>
          <input type="password" name="password" class="form-control" placeholder="Parola" [(ngModel)]="model.password"
            #password="ngModel" [ngClass]="{ 'is-invalid': register.submitted && password.invalid }" required minlength="6">
          <div *ngIf="register.submitted && password.invalid" class="invalid-feedback">
            <div *ngIf="password.errors.required">Te rugam sa introduci parola</div>
            <div *ngIf="password.errors.minlength">Parola trebuie sa fie de minim 6 caractere</div>
          </div>
          <input type="password" name="confirmPassword" class="form-control" placeholder="Repeta parola" [(ngModel)]="model.confirmPassword"
            #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': register.submitted && confirmPassword.invalid }" required>
          <div *ngIf="register.submitted && confirmPassword.invalid" class="invalid-feedback">
            <div *ngIf="confirmPassword.errors.required">Te rugam sa confirmi parola</div>
            <div *ngIf="confirmPassword.errors.mustMatch">Parolele nu se potrivesc</div>
          </div>

          <!-- <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="newsletter-signup">
            <label class="custom-control-label" for="newsletter-signup">Sing up our Newsletter</label>
          </div> -->

          <div class="form-footer">
            <button type="submit" class="btn btn-primary">Creeaza cont</button>
          </div><!-- End .form-footer -->
        </form>
      </div><!-- End .col-md-6 -->
    </div><!-- End .row -->
  </div><!-- End .container -->

  <div class="mb-5"></div><!-- margin -->
</main><!-- End .main -->
