<main class="main">
  <div class="banner banner-cat mb-0" style="background-image: url('assets/images/bg-2.jpg');">
    <div class="banner-content container-fluid">
      <h1 class="banner-title">
        Tixe
      </h1>
      <a href="#" class="btn-sm btn-white">Cumpara acum</a>
    </div><!-- End .banner-content -->
  </div><!-- End .banner -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Acasa</a></li>
        <li class="breadcrumb-item"><a>Produse</a></li>
        <li class="breadcrumb-item active" aria-current="page">Toate produsele</li>
      </ol>
    </div><!-- End .container-fluid -->
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 col-xl-10 padding-left-lg">
        <nav class="toolbox">
          <div class="toolbox-left">
            <div class="toolbox-item toolbox-sort">
              <label>Sort By:</label>

              <div class="select-custom">
                <select name="orderby" class="form-control">
                  <option value="menu_order" selected="selected">Default sorting</option>
                  <option value="popularity">Sort by popularity</option>
                  <option value="rating">Sort by average rating</option>
                  <option value="date">Sort by newness</option>
                  <option value="price">Sort by price: low to high</option>
                  <option value="price-desc">Sort by price: high to low</option>
                </select>
              </div><!-- End .select-custom -->

              <a href="#" class="sorter-btn" title="Set Ascending Direction"><span class="sr-only">Set Ascending
                  Direction</span></a>
            </div><!-- End .toolbox-item -->

            <div class="layout-modes">
              <a href="category.html" class="layout-btn btn-grid active" title="Grid">
                <i class="icon-mode-grid"></i>
              </a>
              <a href="category-list.html" class="layout-btn btn-list" title="List">
                <i class="icon-mode-list"></i>
              </a>
            </div><!-- End .layout-modes -->
          </div><!-- End .toolbox-left -->

          <div class="toolbox-item toolbox-show">
            <label>Show:</label>

            <div class="select-custom">
              <select name="count" class="form-control">
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
              </select>
            </div><!-- End .select-custom -->
          </div><!-- End .toolbox-item -->
        </nav>
        <div class="row row-sm">
          <div class="col-6 col-md-4 col-xl-3" *ngFor="let product of _products">
            <div class="product">
              <figure class="product-image-container">
                <a href="/produs/{{product.alias}}" class="product-image">
                  <img src="{{product.image_url}}" alt="product">
                </a>
                <!-- <span class="product-label label-new">Nou</span> -->
                <a href="/produs/{{product.alias}}" class="btn-quickview">Vezi detalii</a>
              </figure>
              <div class="product-details">
                <h2 class="product-title">
                  <a href="/produs/{{product.alias}}">{{product.product_name}}</a>
                </h2>
                <div class="price-box">
                  <!-- <span class="old-price">69 lei</span> -->
                  <span class="product-price">{{product.price}} lei</span>
                </div><!-- End .price-box -->
              </div><!-- End .product-details -->
            </div><!-- End .product -->
          </div>
        </div>

        <nav class="toolbox toolbox-pagination">
          <ul class="pagination">
            <li class="page-item active">
              <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
            </li>
            <li *ngFor="let number of pages" [class.current-page]="number === currentPage"
            (click)="setCurrentPage(number)"><a class="page-link" href="#">{{number}}</a></li>
            <!-- <li class="page-item"><span class="page-link">...</span></li> -->
            <li class="page-item">
              <a class="page-link page-link-btn" (click)="increaseCurrentPage();"><i class="icon-angle-right"></i></a>
            </li>
          </ul>
        </nav>
      </div>
      <aside class="sidebar-shop col-lg-3 col-xl-2 order-lg-first">
        <div class="sidebar-wrapper">
          <div class="widget">
            <h3 class="widget-title">
              <a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true"
                aria-controls="widget-body-2">Categorii</a>
            </h3>

            <div class="collapse show" id="widget-body-2">
              <div class="widget-body">
                <ul class="cat-list">
                  <li [class.active]="active === 1">
              <a 
                (click)="this.getProducts('vopsea-lavabila');this.active=1;this.dynamicProductViewer='vopsea-lavabila';">VOPSEA
                LAVABILA</a>
            </li>
            <li [class.active]="active === 2">
              <a 
                (click)="this.getProducts('vopsea-decorativa');this.active=2;this.dynamicProductViewer='vopsea-decorativa';">VOPSEA
                DECORATIVA</a>
            </li>
            <li [class.active]="active === 3">
              <a 
                (click)="this.getProducts('vopsea-metal');this.active=3;this.dynamicProductViewer='vopsea-metal';">VOPSEA
                METAL</a>
            </li>
            <li [class.active]="active === 4">
              <a 
                (click)="this.getProducts('pentru-lemn');this.active=4;this.dynamicProductViewer='pentru-lemn';">PENTRU
                LEMN</a>
            </li>
            <li [class.active]="active === 5">
              <a 
                (click)="this.getProducts('vopsea-pardoseala');this.active=5;this.dynamicProductViewer='vopsea-pardoseala';">VOPSEA
                PARDOSEALA</a>
            </li>
            <li [class.active]="active === 6">
              <a 
                (click)="this.getProducts('vopsea-ceramica');this.active=6;this.dynamicProductViewer='vopsea-ceramica';">VOPSEA
                CERAMICA</a>
            </li>
            <li [class.active]="active === 7">
              <a 
                (click)="this.getProducts('hidroizolatii');this.active=7;this.dynamicProductViewer='hidroizolatii';">HIDROIZOLATII</a>
            </li>
            <li [class.active]="active === 8">
              <a 
                (click)="this.getProducts('camere-copii');this.active=8;this.dynamicProductViewer='camere-copii';">CAMERE
                COPII</a>
            </li>
            <li [class.active]="active === 9">
              <a 
                (click)="this.getProducts('aparate-si-scule-de-vopsit');this.active=9;this.dynamicProductViewer='aparate-si-scule-de-vopsit';">APARATE
                ȘI SCULE DE VOPSIT</a>
            </li>
                </ul>
              </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
          </div><!-- End .widget -->

          <div class="widget">
            <h3 class="widget-title">
              <a data-toggle="collapse" href="#widget-body-3" role="button" aria-expanded="true"
                aria-controls="widget-body-3">Price</a>
            </h3>

            <div class="collapse show" id="widget-body-3">
              <div class="widget-body">
                <form action="#">
                  <div class="price-slider-wrapper">
                    <div id="price-slider">
                        <input type="text" rentRangeSlider rangeType='rentPrice' formControlName='rentPrice' name='price'>
                    </div><!-- End #price-slider -->
                  </div><!-- End .price-slider-wrapper -->

                  <div class="filter-price-action">
                    <button type="submit" class="btn btn-primary">Filter</button>

                    <div class="filter-price-text">
                      Price:
                      <span id="filter-price-range"></span>
                    </div><!-- End .filter-price-text -->
                  </div><!-- End .filter-price-action -->
                </form>
              </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
          </div><!-- End .widget -->

          <div class="widget">
            <h3 class="widget-title">
              <a data-toggle="collapse" href="#widget-body-4" role="button" aria-expanded="true"
                aria-controls="widget-body-4">Size</a>
            </h3>

            <div class="collapse show" id="widget-body-4">
              <div class="widget-body">
                <ul class="cat-list">
                  <li><a href="#">Small</a></li>
                  <li><a href="#">Medium</a></li>
                  <li><a href="#">Large</a></li>
                  <li><a href="#">Extra Large</a></li>
                </ul>
              </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
          </div><!-- End .widget -->

          <div class="widget">
            <h3 class="widget-title">
              <a data-toggle="collapse" href="#widget-body-5" role="button" aria-expanded="true"
                aria-controls="widget-body-5">Brand</a>
            </h3>

            <div class="collapse show" id="widget-body-5">
              <div class="widget-body">
                <ul class="cat-list">
                  <li><a href="#">Adidas</a></li>
                  <li><a href="#">Calvin Klein (26)</a></li>
                  <li><a href="#">Diesel (3)</a></li>
                  <li><a href="#">Lacoste (8)</a></li>
                </ul>
              </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
          </div><!-- End .widget -->

          <div class="widget">
            <h3 class="widget-title">
              <a data-toggle="collapse" href="#widget-body-6" role="button" aria-expanded="true"
                aria-controls="widget-body-6">Color</a>
            </h3>

            <div class="collapse show" id="widget-body-6">
              <div class="widget-body">
                <ul class="config-swatch-list">
                  <li class="active">
                    <a href="#" style="background-color: #1645f3;"></a>
                    <span>Blue</span>
                  </li>
                  <li>
                    <a href="#" style="background-color: #f11010;"></a>
                    <span>Red</span>
                  </li>
                  <li>
                    <a href="#" style="background-color: #fe8504;"></a>
                    <span>Orange</span>
                  </li>
                  <li>
                    <a href="#" style="background-color: #2da819;"></a>
                    <span>Green</span>
                  </li>
                </ul>
              </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
          </div><!-- End .widget -->
        </div><!-- End .sidebar-wrapper -->
      </aside><!-- End .col-lg-3 -->

    </div>
  </div>
  <div class="mb-3"></div><!-- margin -->
</main>

<!-- <div class="pagination">
  <div class="pagination-item" (click)="decreaseCurrentPage();">PREV</div>
  <div class="pagination-item" *ngFor="let number of pages" [class.current-page]="number === currentPage"
    (click)="setCurrentPage(number)">{{number}}</div>
  <div class="pagination-item" (click)="increaseCurrentPage();">NEXT</div>
</div> -->
