.industry-serve-section {
    .container {
      display: flex;
      @media (max-width: 991px) {
        flex-direction: column;
      }
    }
    h1 {
      text-align: center;
      padding-bottom: 40px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        flex: 25%;
        padding: 16px;
        display: flex;
        align-items: center;
      }
    }
    .testimonials {
      display: flex;
      margin: auto;
    }
  }