<footer class="footer">
  <div class="footer-middle">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget">
            <img src="assets/images/logo-yw.svg" alt="Porto footer logo" class="footer-logo">
          </div><!-- End .widget -->
        </div><!-- End .col-lg-2 -->

        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget">
            <h4 class="widget-title">Comenzi si livrare</h4>
            <ul class="links">
              <li><a href="#">Cum cumpar online</a></li>
              <li><a href="#">Modalitati de plata</a></li>
              <li><a href="#">Livrarea produselor</a></li>
              <li><a href="#">Politica de retur</a></li>

            </ul>
          </div><!-- End .widget -->
        </div><!-- End .col-lg-2 -->

        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget">
            <h4 class="widget-title">Utilizator</h4>

            <ul class="links">
              <li><a href="#">ANPC</a></li>
              <li><a href="#">Formular returnare produs</a></li>
              <li><a href="#">Termeni si conditii</a></li>
              <li><a href="#">Politica de confidentialitate</a></li>
              <li><a href="#">Politica de utilizare cookie-uri</a></li>
              <li><a href="#">Setari cookie-uri</a></li>
              <li><a href="#">Solutionarea Litigiilor</a></li>

            </ul>
          </div><!-- End .widget -->
        </div><!-- End .col-lg-2 -->

        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget">
            <h4 class="widget-title">Contact Us</h4>
            <ul class="contact-info">
              <li>
                <span class="contact-info-label">Adresa:</span>Calea Mosilor 274
                <br>Sector 2, Bucuresti
              </li>
              <li>
                <span class="contact-info-label">Telefon:</span><a href="tel:">0722.589.860</a>
              </li>
              <li>
                <span class="contact-info-label">Email:</span> <a
                  href="mailto:office@prostaff.ro">office@prostaff.ro</a>
              </li>
              <li>
                <span class="contact-info-label">Program:</span>
                Luni-Vineri: 09:00 – 18:00
                Sambata: 09:00-14:00
              </li>
            </ul>
          </div><!-- End .widget -->
        </div><!-- End .col-lg-2 -->

        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget">
            <h4 class="widget-title">Suntem si pe social media</h4>

            <ul class="social-info">
              <li>
                <a href="https://www.facebook.com/prostaff.romania/" target="_blank">
                  <i class="icon-facebook"></i>
                  <span>/prostaff.romania</span>
                </a>
              </li>
              <li>
                <a href="#" target="_blank">
                  <i class="icon-instagram"></i>
                  <span>/prostaff</span>
                </a>
              </li>
              <li>
                <a href="#" target="_blank">
                  <i class="icon-twitter"></i>
                  <span>/prostaff</span>
                </a>
              </li>
            </ul>
          </div><!-- End .widget -->
        </div><!-- End .col-lg-2 -->

        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget widget-newsletter">
            <h4 class="widget-title">Newsletter</h4>

            <p>Ramai conectat cu noi! <br>Aboneaza-te la newsletter pentru a primii cele mai noi produse si promotii</p>

            <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
              <input type="text" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Email must be a valid email address</div>
              </div>
              <input type="submit" class="btn btn-orange" value="Ma abonez">
            </form>
          </div><!-- End .widget -->
        </div><!-- End .col-lg-2 -->

      </div><!-- End .row -->
    </div><!-- End .container-fluid -->
  </div><!-- End .footer-middle -->
  <div class="footer-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <p class="footer-copyright">&copy; Pro Staff 2020</p>
        </div><!-- End .col-lg-10 -->
      </div><!-- End .row -->
    </div><!-- End .container-fluid -->
  </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
