<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
  <div class="mobile-menu-wrapper">
    <span class="mobile-menu-close"><i class="icon-cancel"></i></span>
    <nav class="mobile-nav">
      <ul class="mobile-menu">
        <li class="active"><a routerLink="/">Acasa</a></li>
        <li><a routerLink="/produse">Produse</a></li>
        <li><a routerLink="/despre-noi">Despre noi</a></li>

        <li><a href="">Proiecte</a>
              <ul>
                <li>
                  <a routerLink="/proiecte/interior">Interior</a>
                </li>
                <li>
                  <a routerLink="/proiecte/exterior">Exterior</a>
                </li>
              </ul>
            </li>

            <li><a routerLink="/blog">Noutati</a></li>
            <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav><!-- End .mobile-nav -->

    <div class="social-icons">
      <a href="https://www.facebook.com/prostaff.romania/" class="social-icon" target="_blank"><i class="icon-facebook"></i></a>
      <a href="#" class="social-icon" target="_blank"><i class="icon-twitter"></i></a>
      <a href="#" class="social-icon" target="_blank"><i class="icon-instagram"></i></a>
    </div><!-- End .social-icons -->
  </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->
