:host {
  height: calc(100vh - 82px);
  display: flex;
  margin-top: 82px;
}


.home-slide::after,
.home-slide::before {
  content: none;
}

.home-slider-container {
  height: 100%;

  .home-slide {
    min-height: 100%;
  }

}

.home-slider-thumbs a {
  display: flex;
  align-items: center;
}

.home-slide-content {
  top: 30%;
  left: 0;
  right: 0;
  margin-left: 20%;

  h3,
  h1 {
    display: inline-block;
    background-color: #44525e;
    padding: 8px 16px;
  }

  // &.left {
  //     left: 15%;
  // }

  @media (max-width: 991px) {
    top: 5%;
    margin-left: auto;
    align-items: center;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 22px;
      margin-bottom: 16px;
    }

    h3 {
      font-size: 19px;
    }
  }
}


.home-slider-thumbs {
  a {
    background: #fff;

  }
  @media (max-width: 991px) {
    width: 100%;
    justify-content: space-around;
    right: 0;
  }
}
