<div class="home-slider-container">
    
    <div class="home-slider owl-carousel">
        <div class="home-slide">
            <div class="slide-bg owl-lazy"  data-src="assets/images/slider/lavabila-cp-italia.jpg"></div><!-- End .slide-bg !-->
            <ul class="slide-bg scene" style="width: 100%; height: 100%;">
                <li class="layer" data-depth="0.05"><img src="assets/images/slider/gold-acqua-cutie.png" alt="" /></li>
                <li class="layer" data-depth="0.06"><img style="position: absolute; top: 31%; left: 46.5%;" src="assets/images/slider/blurflake1.png" alt="" /></li>
                <li class="layer" data-depth="0.07"><img class="animation-spin" style="position: absolute; top: 25%; left: 66%;" src="assets/images/slider/blurflake2.png" alt="" /></li>
                <li class="layer" data-depth="0.10"><img class="animation-wave" style="position: absolute; top: 50%; left: 80%;" src="assets/images/slider/blurflake3.png" alt="" /></li>
                <li class="layer" data-depth="0.15"><img style="position: absolute; top: 70%; left: 55%;" src="assets/images/slider/blurflake4.png" alt="" /></li>
           </ul>
            <div class="container home-slide-content">
                <h3>VOPSEA DECORATIVA <br> CU EFECT AURIU METALIC  <br> PE BAZA DE APA</h3>
                <h1>Doratura Tixe</h1>

                <a href="/produs/vopsea-decorativa-cu-efect-de-matase-tixe-organza" class="btn btn-orange" role="button">Vezi detalii</a>
            </div><!-- End .home-slide-content -->
        </div><!-- End .home-slide -->

        <div class="home-slide">
            <div class="slide-bg owl-lazy"  data-src="assets/images/slider/doratura_solvente_3-1.jpg" style="transform: scaleX(-1);"></div><!-- End .slide-bg !-->
            <ul class="slide-bg scene" style="width: 100%; height: 100%;">
                <li class="layer" data-depth="0.05"><img src="assets/images/slider/doratura-per-esterni.png" alt="" /></li>
                <li class="layer" data-depth="0.06"><img style="position: absolute; top: 31%; left: 46.5%;" src="assets/images/slider/blurflake1.png" alt="" /></li>
                <li class="layer" data-depth="0.07"><img class="animation-spin" style="position: absolute; top: 25%; left: 66%;" src="assets/images/slider/blurflake2.png" alt="" /></li>
                <li class="layer" data-depth="0.10"><img class="animation-wave" style="position: absolute; top: 50%; left: 80%;" src="assets/images/slider/blurflake3.png" alt="" /></li>
                <li class="layer" data-depth="0.15"><img style="position: absolute; top: 70%; left: 55%;" src="assets/images/slider/blurflake4.png" alt="" /></li>
           </ul>
            <div class="container home-slide-content">
                <h3>VOPSEA DECORATIVA <br> CU EFECT AURIU METALIC  <br> PE BAZA DE APA</h3>
                <h1>Doratura Tixe</h1>

                <a href="/produs/vopsea-decorativa-cu-efect-de-matase-tixe-organza" class="btn btn-orange" role="button">Vezi detalii</a>
            </div><!-- End .home-slide-content -->
        </div><!-- End .home-slide -->
    </div><!-- End .home-slider -->

    <div class="home-slider-thumbs">
        <a href="#" class="active">
            <img src="assets/images/slider/gold-acqua-cutie--thumb.png" alt="Slide Thumb">
        </a>
        <a href="#">
            <img src="assets/images/slider/doratura-per-esterni--thumb.png" alt="Slide Thumb">
        </a>
    </div><!-- End .home-slide-thumbs -->
</div><!-- End .home-slider-container -->