.home-slide::after, .home-slide::before {
    content: none;
}

.home-slider-container {
    height: 100vh;
}

.home-slider-thumbs a {
    display: flex;
    align-items: center;
}

.home-slide-content  {
    top: 40%;
    h3, h1 {
        display: inline-block;
        background-color: #000;
        padding: 2px 4px;
    }
}