<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Acasa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cos cumparaturi</li>
        </ol>
    </div><!-- End .container-fluid -->
</nav>

<div class="page-header">
    <div class="container">
        <h1>Cos cumparaturi</h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->

<div class="container">
    <div class="row">
        <div class="col-lg-8 padding-right-lg">
            <div class="cart-table-container">
                <table class="table table-cart">
                    <thead>
                        <tr>
                            <th class="product-col">Produs</th>
                            <th class="price-col">Pret</th>
                            <th class="qty-col">Cantitate</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="product-row">
                            <td class="product-col">
                                <figure class="product-image-container">
                                    <a href="product.html" class="product-image">
                                        <img src="assets/images/featured-items/pensula-vopsea-decorativa-150x150.jpg" alt="product">
                                    </a>
                                </figure>
                                <h2 class="product-title">
                                    <a href="product.html">Pensula 100mm pentru vopsea decorativa , Gieffe , din par natural</a>
                                </h2>
                            </td>
                            <td>34.90 lei</td>
                            <td>
                                <input class="vertical-quantity form-control" type="text">
                            </td>
                            <td>34.90 lei</td>
                        </tr>
                        <tr class="product-action-row">
                            <td colspan="4" class="clearfix">
                                <div class="float-left">
                                    <a href="#" class="btn-move">Muta in Favorite</a>
                                </div><!-- End .float-left -->
                                
                                <div class="float-right">
                                    <a href="#" title="Edit product" class="btn-edit"><span class="sr-only">Editeaza</span><i class="icon-pencil"></i></a>
                                    <a href="#" title="Remove product" class="btn-remove"><span class="sr-only">Elimina</span></a>
                                </div><!-- End .float-right -->
                            </td>
                        </tr>

                        <tr class="product-row">
                            <td class="product-col">
                                <figure class="product-image-container">
                                    <a href="product.html" class="product-image">
                                        <img src="https://pro-staff.ro/wp-content/uploads/2018/06/doratura_solvente.jpg" alt="product">
                                    </a>
                                </figure>
                                <h2 class="product-title">
                                    <a href="product.html">DORATURA – TIXE – VOPSEA DECORATIVA EXTERIOR CU EFECT AURIU METALIC PE BAZA SOLVENT</a>
                                </h2>
                            </td>
                            <td>51.90 lei</td>
                            <td>
                                <input class="vertical-quantity form-control" type="text">
                            </td>
                            <td>51.90 lei</td>
                        </tr>
                        <tr class="product-action-row">
                            <td colspan="4" class="clearfix">
                                <div class="float-left">
                                    <a href="#" class="btn-move">Muta in favorite</a>
                                </div><!-- End .float-left -->
                                
                                <div class="float-right">
                                    <a href="#" title="Edit product" class="btn-edit"><span class="sr-only">Editeaza</span><i class="icon-pencil"></i></a>
                                    <a href="#" title="Remove product" class="btn-remove"><span class="sr-only">Elimina</span></a>
                                </div><!-- End .float-right -->
                            </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="4" class="clearfix">
                                <div class="float-left">
                                    <a href="category.html" class="btn btn-outline-secondary">Continua cumparaturile</a>
                                </div><!-- End .float-left -->

                                <div class="float-right">
                                    <a href="#" class="btn btn-outline-secondary btn-clear-cart">Goleste cos </a>
                                    <a href="#" class="btn btn-outline-secondary btn-update-cart">Actualizeaza cos</a>
                                </div><!-- End .float-right -->
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div><!-- End .cart-table-container -->

            <div class="cart-discount">
                <h4>Aplica cumpon de reduceri</h4>
                <form action="#">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Adauga codul aici"  required>
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-primary" type="submit">Aplica reducere</button>
                        </div>
                    </div><!-- End .input-group -->
                </form>
            </div><!-- End .cart-discount -->
        </div><!-- End .col-lg-8 -->

        <div class="col-lg-4">
            <div class="cart-summary">
                <h3>Summar</h3>

                <h4>
                    <a data-toggle="collapse" href="#total-estimate-section" class="collapsed" role="button" aria-expanded="false" aria-controls="total-estimate-section">Cost estimativ transport</a>
                </h4>

                <div class="collapse" id="total-estimate-section">
                    <form action="#">
                        <div class="form-group form-group-sm">
                            <label>Judet</label>
                            <div class="select-custom">
                                <select class="form-control form-control-sm">
                                    <option value="USA">Bucuresti</option>
                                    <option value="USA">Ilfov</option>
                                </select>
                            </div><!-- End .select-custom -->
                        </div><!-- End .form-group -->

                        <div class="form-group form-group-sm">
                            <label>Oras/sector</label>
                            <div class="select-custom">
                                <select class="form-control form-control-sm">
                                    <option value="CA">Sector 1</option>
                                    <option value="TX">Sector 2</option>
                                </select>
                            </div><!-- End .select-custom -->
                        </div><!-- End .form-group -->

                        <div class="form-group form-group-sm">
                            <label>Cod postal</label>
                            <input type="text" class="form-control form-control-sm">
                        </div><!-- End .form-group -->

                        <div class="form-group form-group-custom-control">
                            <label>Fan Curier</label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="flat-rate">
                                <label class="custom-control-label" for="flat-rate">20 lei</label>
                            </div><!-- End .custom-checkbox -->
                        </div><!-- End .form-group -->

                        <div class="form-group form-group-custom-control">
                            <label>DPD</label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="best-rate">
                                <label class="custom-control-label" for="best-rate">15 lei</label>
                            </div><!-- End .custom-checkbox -->
                        </div><!-- End .form-group -->
                    </form>
                </div><!-- End #total-estimate-section -->

                <table class="table table-totals">
                    <tbody>
                        <tr>
                            <td>Total</td>
                            <td>134 lei</td>
                        </tr>

                        <tr>
                            <td>Transport</td>
                            <td>20 lei</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total comanda</td>
                            <td>154 lei</td>
                        </tr>
                    </tfoot>
                </table>

                <div class="checkout-methods">
                    
                    <a [routerLink]="['/finalizeaza-comanda']" class="btn btn-block btn-sm btn-primary">Finalizeaza comanda</a>
                </div><!-- End .checkout-methods -->
            </div><!-- End .cart-summary -->
        </div><!-- End .col-lg-4 -->
    </div><!-- End .row -->
</div><!-- End .container -->

<div class="mb-6"></div><!-- margin -->