/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.product-image-container{
  position: relative;
  
  .cart-product-color {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
  }
}

.input {
  &__container {
    flex: 1;
    position: relative;

    input {
      margin: 0;
    }

    .invalid-feedback {
      position: absolute;
    }
  }
}