.btn {
  &.btn-orange {
    border-color: $color-primary;
    background-color: $color-primary;
    color: $color-white;
    opacity: 1;

    &:hover,
    &:focus {
      border-color: rgba($color-primary, 0.85);
      background-color: rgba($color-primary, 0.85);
      color: $color-white;
    }
  }
  .btn-primary {
    border-color: #000;
    background-color: #000;
    color: #fff;
    box-shadow: none;
}
  
}

.btn-colors {
  background: linear-gradient(90deg, rgba(183,255,248,1) 0%, rgba(255,225,231,1) 50%, rgba(203,176,255,1) 100%);
  color: #000 !important;
  transition: 500ms all;
  &:before {
    content: none;
  }

  img {
    width: 18px;
    margin-right: 8px;
  }

  &:hover {
    background: linear-gradient(90deg, rgba(241,190,187,1) 0%, rgba(182,219,241,1) 50%, rgba(174,241,200,1) 100%);
    color: #000;
  }
}

.btn-quickview {

  background-color: $color-primary;
  color: $color-white;

}

.btn-outline-dark {
  border-color: $color-primary;

  color: $color-primary;

  &:hover,
  &:focus {
    border-color: $color-primary;
    background-color: $color-primary;
    color: $color-white;
  }
}

.btn-no-icon {
  &::before {
    content: none;
  }
  i {
    margin-right: 16px;
  }
}