.lst-kix_tfqkqdlhcpar-6>li:before {
  content: "\0025cf  "
}

.lst-kix_tfqkqdlhcpar-7>li:before {
  content: "\0025cb  "
}

.lst-kix_tfqkqdlhcpar-4>li:before {
  content: "\0025cb  "
}

.lst-kix_tfqkqdlhcpar-5>li:before {
  content: "\0025a0  "
}

.lst-kix_tfqkqdlhcpar-8>li:before {
  content: "\0025a0  "
}

.lst-kix_60pv7u76tb3z-1>li:before {
  content: "\0025cb  "
}

.lst-kix_tfqkqdlhcpar-2>li:before {
  content: "\0025a0  "
}

.lst-kix_tfqkqdlhcpar-3>li:before {
  content: "\0025cf  "
}

.lst-kix_60pv7u76tb3z-0>li:before {
  content: "\0025cf  "
}

.lst-kix_60pv7u76tb3z-2>li:before {
  content: "\0025a0  "
}

.lst-kix_60pv7u76tb3z-4>li:before {
  content: "\0025cb  "
}

.lst-kix_60pv7u76tb3z-6>li:before {
  content: "\0025cf  "
}

.lst-kix_60pv7u76tb3z-3>li:before {
  content: "\0025cf  "
}

.lst-kix_60pv7u76tb3z-7>li:before {
  content: "\0025cb  "
}

.lst-kix_oaban3mu8xbg-8>li:before {
  content: "\0025a0  "
}

.lst-kix_60pv7u76tb3z-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_44ltfxb8rgii-5 {
  list-style-type: none
}

.lst-kix_oaban3mu8xbg-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_44ltfxb8rgii-4 {
  list-style-type: none
}

ul.lst-kix_44ltfxb8rgii-7 {
  list-style-type: none
}

ul.lst-kix_44ltfxb8rgii-6 {
  list-style-type: none
}

.lst-kix_oaban3mu8xbg-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_44ltfxb8rgii-8 {
  list-style-type: none
}

.lst-kix_oaban3mu8xbg-3>li:before {
  content: "\0025cf  "
}

.lst-kix_oaban3mu8xbg-7>li:before {
  content: "\0025cb  "
}

.lst-kix_vvbzzp9opt6m-1>li:before {
  content: "\0025cb  "
}

.lst-kix_vvbzzp9opt6m-2>li:before {
  content: "\0025a0  "
}

.lst-kix_60pv7u76tb3z-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_44ltfxb8rgii-1 {
  list-style-type: none
}

.lst-kix_vvbzzp9opt6m-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_44ltfxb8rgii-0 {
  list-style-type: none
}

ul.lst-kix_44ltfxb8rgii-3 {
  list-style-type: none
}

.lst-kix_oaban3mu8xbg-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_44ltfxb8rgii-2 {
  list-style-type: none
}

ul.lst-kix_oaban3mu8xbg-8 {
  list-style-type: none
}

ul.lst-kix_oaban3mu8xbg-7 {
  list-style-type: none
}

ul.lst-kix_oaban3mu8xbg-6 {
  list-style-type: none
}

.lst-kix_oaban3mu8xbg-0>li:before {
  content: "\0025cf  "
}

.lst-kix_tfqkqdlhcpar-0>li:before {
  content: "\0025cf  "
}

.lst-kix_tfqkqdlhcpar-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_oaban3mu8xbg-1 {
  list-style-type: none
}

.lst-kix_oaban3mu8xbg-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_oaban3mu8xbg-0 {
  list-style-type: none
}

.lst-kix_vvbzzp9opt6m-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_oaban3mu8xbg-5 {
  list-style-type: none
}

ul.lst-kix_oaban3mu8xbg-4 {
  list-style-type: none
}

.lst-kix_oaban3mu8xbg-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_oaban3mu8xbg-3 {
  list-style-type: none
}

ul.lst-kix_oaban3mu8xbg-2 {
  list-style-type: none
}

ul.lst-kix_d45731quukl-3 {
  list-style-type: none
}

ul.lst-kix_d45731quukl-4 {
  list-style-type: none
}

ul.lst-kix_d45731quukl-5 {
  list-style-type: none
}

ul.lst-kix_tfqkqdlhcpar-8 {
  list-style-type: none
}

ul.lst-kix_d45731quukl-6 {
  list-style-type: none
}

ul.lst-kix_d45731quukl-0 {
  list-style-type: none
}

ul.lst-kix_d45731quukl-1 {
  list-style-type: none
}

ul.lst-kix_d45731quukl-2 {
  list-style-type: none
}

ul.lst-kix_60pv7u76tb3z-7 {
  list-style-type: none
}

ul.lst-kix_d45731quukl-7 {
  list-style-type: none
}

ul.lst-kix_60pv7u76tb3z-8 {
  list-style-type: none
}

ul.lst-kix_d45731quukl-8 {
  list-style-type: none
}

ul.lst-kix_60pv7u76tb3z-3 {
  list-style-type: none
}

ul.lst-kix_60pv7u76tb3z-4 {
  list-style-type: none
}

ul.lst-kix_60pv7u76tb3z-5 {
  list-style-type: none
}

ul.lst-kix_60pv7u76tb3z-6 {
  list-style-type: none
}

ul.lst-kix_60pv7u76tb3z-0 {
  list-style-type: none
}

ul.lst-kix_60pv7u76tb3z-1 {
  list-style-type: none
}

ul.lst-kix_60pv7u76tb3z-2 {
  list-style-type: none
}

.lst-kix_d69qtt24nefm-6>li:before {
  content: "\0025cf  "
}

.lst-kix_d69qtt24nefm-5>li:before {
  content: "\0025a0  "
}

.lst-kix_d69qtt24nefm-4>li:before {
  content: "\0025cb  "
}

.lst-kix_d69qtt24nefm-1>li:before {
  content: "\0025cb  "
}

.lst-kix_d69qtt24nefm-3>li:before {
  content: "\0025cf  "
}

.lst-kix_d69qtt24nefm-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_tfqkqdlhcpar-2 {
  list-style-type: none
}

ul.lst-kix_tfqkqdlhcpar-3 {
  list-style-type: none
}

ul.lst-kix_tfqkqdlhcpar-0 {
  list-style-type: none
}

ul.lst-kix_tfqkqdlhcpar-1 {
  list-style-type: none
}

ul.lst-kix_tfqkqdlhcpar-6 {
  list-style-type: none
}

ul.lst-kix_tfqkqdlhcpar-7 {
  list-style-type: none
}

ul.lst-kix_tfqkqdlhcpar-4 {
  list-style-type: none
}

.lst-kix_d69qtt24nefm-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_tfqkqdlhcpar-5 {
  list-style-type: none
}

.lst-kix_44ltfxb8rgii-5>li:before {
  content: "\0025a0  "
}

.lst-kix_44ltfxb8rgii-7>li:before {
  content: "\0025cb  "
}

.lst-kix_44ltfxb8rgii-2>li:before {
  content: "\0025a0  "
}

.lst-kix_44ltfxb8rgii-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_joi4xuq50svb-6 {
  list-style-type: none
}

ul.lst-kix_joi4xuq50svb-5 {
  list-style-type: none
}

ul.lst-kix_joi4xuq50svb-8 {
  list-style-type: none
}

.lst-kix_44ltfxb8rgii-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_joi4xuq50svb-7 {
  list-style-type: none
}

ul.lst-kix_joi4xuq50svb-2 {
  list-style-type: none
}

ul.lst-kix_joi4xuq50svb-1 {
  list-style-type: none
}

ul.lst-kix_joi4xuq50svb-4 {
  list-style-type: none
}

.lst-kix_44ltfxb8rgii-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_joi4xuq50svb-3 {
  list-style-type: none
}

ul.lst-kix_c50fny9tb5f9-2 {
  list-style-type: none
}

ul.lst-kix_c50fny9tb5f9-1 {
  list-style-type: none
}

ul.lst-kix_c50fny9tb5f9-4 {
  list-style-type: none
}

.lst-kix_joi4xuq50svb-6>li:before {
  content: "\0025cf  "
}

.lst-kix_joi4xuq50svb-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_c50fny9tb5f9-3 {
  list-style-type: none
}

ul.lst-kix_c50fny9tb5f9-0 {
  list-style-type: none
}

.lst-kix_joi4xuq50svb-5>li:before {
  content: "\0025a0  "
}

.lst-kix_44ltfxb8rgii-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_c50fny9tb5f9-6 {
  list-style-type: none
}

ul.lst-kix_c50fny9tb5f9-5 {
  list-style-type: none
}

ul.lst-kix_c50fny9tb5f9-8 {
  list-style-type: none
}

ul.lst-kix_vvbzzp9opt6m-1 {
  list-style-type: none
}

.lst-kix_44ltfxb8rgii-0>li:before {
  content: "\0025cf  "
}

.lst-kix_joi4xuq50svb-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_c50fny9tb5f9-7 {
  list-style-type: none
}

ul.lst-kix_vvbzzp9opt6m-0 {
  list-style-type: none
}

.lst-kix_d45731quukl-6>li:before {
  content: "\0025cf  "
}

.lst-kix_joi4xuq50svb-0>li:before {
  content: "\0025cf  "
}

.lst-kix_d69qtt24nefm-7>li:before {
  content: "\0025cb  "
}

.lst-kix_d45731quukl-3>li:before {
  content: "\0025cf  "
}

.lst-kix_d45731quukl-7>li:before {
  content: "\0025cb  "
}

.lst-kix_joi4xuq50svb-1>li:before {
  content: "\0025cb  "
}

.lst-kix_d69qtt24nefm-8>li:before {
  content: "\0025a0  "
}

.lst-kix_d45731quukl-2>li:before {
  content: "\0025a0  "
}

.lst-kix_joi4xuq50svb-2>li:before {
  content: "\0025a0  "
}

.lst-kix_joi4xuq50svb-4>li:before {
  content: "\0025cb  "
}

.lst-kix_d45731quukl-0>li:before {
  content: "\0025cf  "
}

.lst-kix_d45731quukl-8>li:before {
  content: "\0025a0  "
}

.lst-kix_d45731quukl-1>li:before {
  content: "\0025cb  "
}

.lst-kix_joi4xuq50svb-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_joi4xuq50svb-0 {
  list-style-type: none
}

.lst-kix_d45731quukl-4>li:before {
  content: "\0025cb  "
}

.lst-kix_d45731quukl-5>li:before {
  content: "\0025a0  "
}

.lst-kix_c50fny9tb5f9-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_d69qtt24nefm-2 {
  list-style-type: none
}

.lst-kix_c50fny9tb5f9-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_d69qtt24nefm-1 {
  list-style-type: none
}

ul.lst-kix_d69qtt24nefm-0 {
  list-style-type: none
}

ul.lst-kix_d69qtt24nefm-6 {
  list-style-type: none
}

.lst-kix_c50fny9tb5f9-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_d69qtt24nefm-5 {
  list-style-type: none
}

ul.lst-kix_d69qtt24nefm-4 {
  list-style-type: none
}

.lst-kix_c50fny9tb5f9-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_d69qtt24nefm-3 {
  list-style-type: none
}

.lst-kix_vvbzzp9opt6m-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_d69qtt24nefm-8 {
  list-style-type: none
}

.lst-kix_vvbzzp9opt6m-4>li:before {
  content: "\0025cb  "
}

.lst-kix_vvbzzp9opt6m-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_d69qtt24nefm-7 {
  list-style-type: none
}

.lst-kix_vvbzzp9opt6m-8>li:before {
  content: "\0025a0  "
}

.lst-kix_vvbzzp9opt6m-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_vvbzzp9opt6m-3 {
  list-style-type: none
}

ul.lst-kix_vvbzzp9opt6m-2 {
  list-style-type: none
}

ul.lst-kix_vvbzzp9opt6m-5 {
  list-style-type: none
}

ul.lst-kix_vvbzzp9opt6m-4 {
  list-style-type: none
}

ul.lst-kix_vvbzzp9opt6m-7 {
  list-style-type: none
}

ul.lst-kix_vvbzzp9opt6m-6 {
  list-style-type: none
}

ul.lst-kix_vvbzzp9opt6m-8 {
  list-style-type: none
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

.lst-kix_c50fny9tb5f9-1>li:before {
  content: "\0025cb  "
}

.lst-kix_c50fny9tb5f9-0>li:before {
  content: "\0025cf  "
}

.lst-kix_c50fny9tb5f9-4>li:before {
  content: "\0025cb  "
}

.lst-kix_c50fny9tb5f9-3>li:before {
  content: "\0025cf  "
}

.lst-kix_c50fny9tb5f9-2>li:before {
  content: "\0025a0  "
}

.lst-kix_44ltfxb8rgii-8>li:before {
  content: "\0025a0  "
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c8 {
  background-color: #ffffff;
  margin-left: 24pt;
  padding-top: 12pt;
  text-indent: -18pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c0 {
  margin-left: 42pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 16px;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c15 {
  padding-top: 20pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c19 {
  background-color: #ffffff;
  padding-top: 12pt;
  padding-bottom: 18pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c4 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Arial";
  font-style: normal
}

.c10 {
  background-color: #ffffff;
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c11 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c2 {
  padding-top: 0pt;
  padding-bottom: 17pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c5 {
  text-decoration-skip-ink: none;
  font-size: 10pt;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline
}

.c7 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal
}

.c13 {
  background-color: #ffffff;
}

.c12 {
  padding: 0;
  margin: 0
}

.c3 {
  color: #222222;
  font-size: 10pt
}

.c16 {
  color: #000000;
  font-size: 14pt
}

.c1 {
  color: inherit;
  text-decoration: inherit
}

.c14 {
  color: #3e4555;
  font-size: 10pt
}

.c9 {
  color: #000000;
  font-size: 10pt
}

.c17 {
  height: 11pt
}

.c18 {
  font-size: 10pt
}

.c6 {
  font-weight: 700
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
