<main class="main">

  <div class="page-header">
    <div class="container">
      <h1>Termeni si conditii Prostaff</h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->

  <div class="container">
    <div class="c13">
      
      <p class="c2"><span class="c3">Acest magazin online este proprietatea </span><span class="c3 c6">S.C. PRO STAFF
          S.R.L.</span><span class="c7 c3">&nbsp;cu sediul social in Sos. Colentina Nr. 33, Bl. OD 42, Sc. A, Sector 2,
          Bucuresti, inregistrata la Registrul Comertului sub numarul J40/4443/2003 avand CIF RO15333887</span></p>
      <p class="c11"><span class="c4">1. Informatii generale</span></p>
      <p class="c2"><span class="c3 c6">Website / Site / Magazin Online</span><span class="c7 c3">&nbsp;– domeniul
          www.pro-staff.ro si toate subdomeniile acestuia, prin intermediul caruia utilizatorii pot achizitiona
          produsele si serviciile oferite.</span></p>
      <p class="c2"><span class="c3 c6">Vanzator</span><span class="c7 c3">&nbsp;– S.C. PRO STAFF S.R.L. cu sediul
          social in Sos. Colentina Nr. 33, Bl. OD 42, Sc. A, Sector 2, Bucuresti.</span></p>
      <p class="c2"><span class="c3 c6">Cumparator </span><span class="c7 c3">– orice persoana fizica sau juridica care
          isi creaza un cont personal pe site si care plaseaza o comanda confirmata de catre vanzator si achitata
          ulterior de catre cumparator.</span></p>
      <p class="c2"><span class="c3 c6">Utilizator</span><span class="c3">&nbsp;– orice persoana fizica sau juridica
          care acceseaza site-ul </span><span class="c5"><a class="c1"
            href="https://www.google.com/url?q=http://www.pro-staff.ro&amp;sa=D&amp;source=editors&amp;ust=1622563080191000&amp;usg=AOvVaw2-Kn6ZvrSA_A8v-tQDo_ih">www.pro-staff.ro</a></span><span
          class="c3">,</span><span class="c7 c3">&nbsp; indiferent de motivul si scopul acestuia. Utilizatorul se obliga
          sa acceseze si sa utilizeze site-ul in scopuri si prin mijloace care sa nu constituie o utilizare
          abuziva.</span></p>
      <p class="c2"><span class="c3 c6">Comanda</span><span class="c7 c3">&nbsp;– o cerere facuta de Utilizator catre
          magazinul online www.pro-staff.ro cu privire la achizitionarea de produse si/sau servicii, prin care
          Vanzatorul isi da acordul sa livreze articolele comandate sau sa intocmeasca serviciile in cauza, iar
          cumparatorul este de acord sa achite contravaloarea acestora.</span></p>
      <p class="c2"><span class="c3 c6">Cont de utilizator</span><span class="c7 c3">&nbsp;– acea sectiune din Site prin
          intermediul careia Utilizatorii pot cumpara produsele/serviciile oferite. Pentru crearea unui cont de
          Utilizator sunt necesare date precum: adresa de e-mail si o parola care sa permita Cumparatorului transmiterea
          Comenzii si care contine informatii despre Client/Cumparator si istoricul Cumparatorului in Site (Comenzi,
          facturi fiscale, garantii Bunuri, etc.).</span></p>
      <p class="c2"><span class="c3 c6">Favorite</span><span class="c7 c3">&nbsp;– sectiunea din Site unde Utilizatorii
          care detin Cont isi pot salva diferite produse sau liste de produse pe care sa le poata comercializa, sau nu
          ulterior.</span></p>
      <p class="c2"><span class="c3 c6">Campanie</span><span class="c7 c3">&nbsp;– actiunea de a afisa in scopul
          promovarii, un numar finit de Bunuri si/sau Servicii, pentru o perioada limitata de timp, stabilita de catre
          Vanzator.</span></p>
      <p class="c11"><span class="c4">2. Conditii de utilizare a magazinului online</span></p>
      <ul class="c12 lst-kix_60pv7u76tb3z-0 start">
        <li class="c0 li-bullet-0"><span class="c3">Informatiile publicate site-ul </span><span class="c5"><a class="c1"
              href="https://www.google.com/url?q=http://www.pro-staff.ro&amp;sa=D&amp;source=editors&amp;ust=1622563080192000&amp;usg=AOvVaw0v19uFGVE1t0aTO6pVvMYz">www.pro-staff.ro</a></span><span
            class="c7 c3">&nbsp;sunt informatii de interes general despre produsele comercializate de acesta, cat si
            alte informatii considerate ca fiind de interes pentru utilizatori;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Toate informatiile sunt puse la dispozitia utilizatorilor in mod
            gratuit;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Pentru a plasa o comanda este necesara crearea unui cont personal
            gratuit, prin completarea unui formular de inregistrare: adresa de e-mail, parola, date personale si adresa
            de livrare;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Datele personale sunt folosite doar in interesul de procesare al
            comenzii efectuate, pentru livrarea acesteia catre cumparator si in scop de marketing. Datele nu vor fi
            instrainate catre o terta persoana si nu vor fi utilizate cu alte scopuri decat cele declarate;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Toate preturile inscrise sunt exprimate in RON si contin TVA
            19%.</span></li>
      </ul>
      <p class="c11"><span class="c4">3. Informatii despre produse</span></p>
      <ul class="c12 lst-kix_c50fny9tb5f9-0 start">
        <li class="c0 li-bullet-0"><span class="c7 c3">Toate produsele comercializate prin intermediul Magazinului
            Online sunt noi si vor fi insotite de factura fiscala, asa cum prevede legea in vigoare;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Produsele afisate pe Site pot fi comandate in limita stocului
            existent;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Fiecare produs afisat pe Site contine imagini, descrieri si
            preturi. Exista posibilitatea ca imaginile prezentate sa nu corespunda cu produsul, ca urmare a decalajelor
            diferitelor marci ale dispozitivelor de pe care este privit produsul. Nu ne asumam raspunderea pentru
            decalajul dintre culoarea afisata de catre ecranul monitorului dvs. si produsul real;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Garantam autentitcitatea tuturor produselor comercializate,
            conform specificatiilor afisate pe site.</span></li>
      </ul>
      <p class="c11"><span class="c4">4. Garantia produselor</span></p>
      <ul class="c12 lst-kix_vvbzzp9opt6m-0 start">
        <li class="c0 li-bullet-0"><span class="c7 c3">Produsele comandate si achitate au o garantie de 30 zile din ziua
            livrarii;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">In cazul unei nereguli semnalate de catre Cumparator si acceptate
            de catre Vanzator, produsul va fi inlocuit cu unul de acelasi tip, iar daca acesta nu mai exista pe stoc,
            suma aferenta acestuia va fin restituita in termen de maxim 30 de zile de la data instiintarii
            problemei.</span></li>
      </ul>
      <p class="c11"><span class="c4">5. Comanda produselor</span></p>
      <ul class="c12 lst-kix_tfqkqdlhcpar-0 start">
        <li class="c0 li-bullet-0"><span class="c7 c3">Cumparatorul poate comanda produse de pe Site prin adaugarea
            acestora in cosul de cumparaturi virtual, urmata de finalizarea comenzii. Prin apasarea butonului de
            Finalizare Comanda, cumparatorul isi da acordul asupra livrarii si achitarii acestora si implicit se obliga
            sa comunice datele personale corecte in vederea livrarii comenzii efectuate;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Comanda efectuata va intra in procesul de expediere dupa
            confirmarea acesteia de catre Vanzator.</span></li>
      </ul>
      <p class="c11"><span class="c4">6. Metode de plata</span></p>
      <ul class="c12 lst-kix_d69qtt24nefm-0 start">
        <li class="c0 li-bullet-0"><span class="c7 c3">Plata aferenta comenzii efectuate de catre Cumparator se poate
            efectua online, cu orice card Visa, Maestro sau MasterCard.</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Ramburs (cash sau card)</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Numera la magazinul PROSTAFF din Calea Mosilor 274, Sector 2,
            Bucuresti.</span></li>
      </ul>
      <p class="c11"><span class="c4">7. Informatii despre livrare</span></p>
      <p class="c19"><span class="c7 c9">Comanda este livrata la adresa inscrisa in formularul de comanda, oriunde in
          Romania.</span></p>
      <p class="c10"><span class="c7 c14">PENTRU BUCURESTI</span></p>
      <p class="c8"><span class="c7 c9">· &nbsp; &nbsp; &nbsp; &nbsp;Pentru comenzile mai mici de 400 lei, costul de
          livrare poate fi stabilit doar in urma unei simulari pe platforma transportatorului contractat si va fi
          comunicat inainte de expedierea comenzii, acesta regasindu-se ulterior pe factura;</span></p>
      <p class="c8"><span class="c7 c9">· &nbsp; &nbsp; &nbsp; &nbsp;Pentru comenzile care depasesc suma de 400
          &nbsp;lei, transportul este GRATUIT;</span></p>
      <p class="c8"><span class="c7 c9">· &nbsp; &nbsp; &nbsp; &nbsp;Comenzile confirmate pana in ora 14, vor intra in
          procesul de livrare in aceeasi zi;</span></p>
      <p class="c8"><span class="c7 c9">· &nbsp; &nbsp; &nbsp; &nbsp;Termenul de livrare este de 1-3 zile
          lucratoare.*</span></p>
      <p class="c8"><span class="c7 c9">*Pot exista cazuri speciale in care comanda sa depaseasca acest interval, de
          care veti fi anuntati.</span></p>
      <p class="c10"><span class="c7 c14">PENTRU PROVINCIE</span></p>
      <p class="c8"><span class="c7 c9">· &nbsp; &nbsp; &nbsp; &nbsp;Pentru comenzile mai mici de 4000 lei, costul de
          livrare poate fi stabilit doar in urma unei simulari pe platforma transportatorului contractat si va fi
          comunicat inainte de expedierea comenzii, acesta regasinduse ulterior pe factura;</span></p>
      <p class="c8"><span class="c7 c9">· &nbsp; &nbsp; &nbsp; &nbsp;Pentru comenzile care depasesc suma de 4000
          &nbsp;lei, transportul este GRATUIT; </span></p>
      <p class="c8"><span class="c7 c9">· &nbsp; &nbsp; &nbsp; &nbsp;Comenzile confirmate pana in ora 14:00, vor intra
          in procesul de livrare in aceeasi zi;</span></p>
      <p class="c8"><span class="c7 c9">· &nbsp; &nbsp; &nbsp; &nbsp;Termenul de livrare este de 2-5 zile
          lucratoare.*</span></p>
      <p class="c8"><span class="c18">*Pot exista cazuri speciale in care comanda sa depaseasca acest interval, de care
          veti fi anuntati.</span></p>
      <p class="c11"><span class="c7 c9">8. Returul comenzii</span></p>
      <ul class="c12 lst-kix_44ltfxb8rgii-0 start">
        <li class="c0 li-bullet-0"><span class="c7 c3">Produsele comercializate de catre Cumparator pot fi returnate in
            termen de 30 zile de la confirmarea livrarii la adresa mentionata in formularul de comanda;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Returnarea produselor este acceptata de catre Vanzator doar daca
            sigiliul atasat fiecarui produs se afla in stare intacta. Ruperea sigiliului duce la anularea posibilitatii
            de retur;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Pentru initializarea procesului de retur, este necesara
            completarea formularului de retur. Produsele nu se expediaza catre Vanzator inainte ca cererea de retur sa
            fie aprobata;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Produsele se returneaza doar prin curier rapid sau personal in
            cadrul magazinului PROSTAFF;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Cheltuielile de retur sunt suportate de catre Cumparator;</span>
        </li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Rambursarea sumei aferente se va face in termen de maxim 30 zile
            de la data receptionarii produselor returnate, prin transfer bancar.</span></li>
      </ul>
      <p class="c11"><span class="c4">9. Reclamatii</span></p>
      <ul class="c12 lst-kix_d45731quukl-0 start">
        <li class="c0 li-bullet-0"><span class="c3">Orice nemultumire referitoare la procesul de achizitie de pe Site,
            vor fi trimise la adresa de mail </span><span class="c5"><a class="c1"
              href="mailto:magazin@prostaff.ro">magazin@prostaff.ro</a></span><span class="c3">&nbsp;sau vor fi
            comunicate telefonic la numarul de telefon </span><span class="c18">&nbsp;</span><span
            class="c3 c6">0721.203.933 </span><span class="c3">de luni pana vineri in </span><span
            class="c3 c6">intervalul orar 09:00 – 18:00</span><span class="c7 c3">;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Orice reclamatie trebuie insotita de date de identificare ale
            Cumparatorului, precum: numarul comenzii, numarul facturii, nota de transport, motivul reclamatiei,
            fotografii doveditoare;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Nicio reclamatie nu va fi luata in considerare daca vina pentru
            presupusele deteriorari este purata de catre Cumparator;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Termenul maxim de solutionare a reclamatiilor este de 7 zile de
            la data efectuarii.</span></li>
      </ul>
      <p class="c11"><span class="c4">10. Date de contact</span></p>
      <ul class="c12 lst-kix_joi4xuq50svb-0 start">
        <li class="c0 li-bullet-0"><span class="c7 c3">Accesarea site-ului, utilizarea informatiilor prezentate in
            cadrul acestuia, vizitarea paginilor sau expedierea de e-mail-uri sau notificari adresate S.C. PRO STAFF
            S.R.L. se realizeaza in mod electronic, telefonic, sau orice alt mod de comunicare disponibil Utilizatorului
            sau Cumparatorului, considerandu-se astfel ca acesta consimte primirea notificarilor din partea S.C. PRO
            STAFF S.R.L. in modalitate electronica si/sau telefonica, incluzand si comunicari prin e-mail sau prin
            anunturi pe site;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">S.C. PRO STAFF S.R.L. isi rezerva dreptul de a nu raspunde
            tuturor solicitarilor de orice natura, primite prin orice mijloc de comunicare (electronic, telefonic,
            etc.);</span></li>
        <li class="c0 li-bullet-0"><span class="c3">Vanzatorul poate fi contactat la numarul de telefon </span><span
            class="c3 c6">0721.203.933</span><span class="c3">, adresa de mail </span><span class="c5"><a class="c1"
              href="mailto:magazin@prostaff.ro">magazin@prostaff.ro</a></span><span class="c7 c3">, adresa fizica Calea
            Mosilor 274, Sector 2, Bucuresti.</span></li>
      </ul>
      <p class="c11"><span class="c4">11. Litigii si dispozitii finale</span></p>
      <ul class="c12 lst-kix_oaban3mu8xbg-0 start">
        <li class="c0 li-bullet-0"><span class="c7 c3">Societatea S.C. PRO STAFF S.R.L. isi rezerva dreptul sa
            completeze si sa modifice orice informatie de pe site, fara notificare prealabila;</span></li>
        <li class="c0 li-bullet-0"><span class="c3 c7">Societatea S.C. PRO STAFF S.R.L. nu raspunde pentru prejudiciile
            create ca urmare a nefunctionarii Site-ului;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Intregul continut al Site-ului (imagini, texte, animatii, sau
            orice fel de alte date) este protejat conform Legii drepturilor de autor si legilor privind dreptul de
            proprietate intelectuala si industriala. Folosirea fara acordul scris a S.C. PRO STAFF S.R.L. a oricaror
            elemente enumerate mai sus se pedepseste conform legilor in vigoare;</span></li>
        <li class="c0 li-bullet-0"><span class="c7 c3">Orice litigiu aparut intre Cumparator si Vanzator va fi rezolvata
            prin cale amiabila. In cazul in care nu este posibila stingerea conflictului pe cale amiabila, competenta
            revine instantelor de judecata romane.</span></li>
      </ul>
      <p class="c11 c17"><span class="c7 c9"></span></p>
    </div>
  </div>
</main>
