<main class="main">

  <div class="page-header">
    <div class="container">
      <h1>Cum cumpar</h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->

  <div class="container google-docs">


    <div class="row">
      <div class="col-xs-12">
        <div class="c9 c17">
          <p class="c18 c9"><span class="c19">Cum cumpar</span></p>
          <p class="c18"><span class="c19 c20">1. ONLINE</span></p>
          <p class="c4"><span class="c5">Pentru a comanda online prin intermediul acestui magazin online, este necesar
              sa iti creezi propriul cont de utilizator, prin intermediul caruia vei avea acces rapid la stadiul
              livrarii si istoricul comenzilor</span><span class="c15">.</span></p>
          <p class="c4"><span class="c5 c12">Pasul 1:</span><span class="c0">&nbsp;Alege produsul dorit si adauga-l in
              cosul de cumparaturi apasand butonul „Adauga in cos”. Produsul va fi adaugat in cosul virtual de
              cumparaturi.</span></p>
          <p class="c4"><span class="c5 c12">Pasul 2:</span><span class="c0">&nbsp;Pentru a vizualiza produsele adaugate
              in cos, apasa butonul „Vezi detalii cos”. Aici ai posibilitatea de a adauga mai multe bucati al aceluiasi
              produs sau poti contiunua catre achitarea produselor.</span></p>
          <p class="c4"><span class="c5 c12">Pasul 3:</span><span class="c0">&nbsp;Pentru a finazila comanda, este
              necesar sa fii logat in contul tau, apoi apasa butonul „Continua plata” si alege modalitatea de plata si
              de livrare.</span></p>
          <p class="c4"><span class="c5 c12">Pasul 4:</span><span class="c0">&nbsp;Bifeaza casuta ”Am citit si accept
              termenii si conditiile” si apasa butonul „Plaseaza comanda”.</span></p>
          <p class="c18"><span class="c14">2. PRIN E-MAIL</span></p>
          <p class="c4"><span class="c5">Poti comanda produsele dorite printr-un email la adresa </span><span
              class="c1"><a class="c13" href="mailto:magazin@prostaff.ro">magazin@prostaff.ro</a></span><span
              class="c5">&nbsp;sau </span><span class="c1"><a class="c13"
                href="mailto:office@prostaff.ro">office@prostaff.ro</a></span><span class="c3">&nbsp;</span></p>
          <p class="c4"><span class="c0">Pentru a fi mai simplu de identificat produsul, te rugam sa ne lasi link-ul cu
              produsul dorit si cantitatea de care aveti nevoie.</span></p>
          <p class="c4"><span class="c14">3. TELEFONIC</span></p>
          <p class="c4"><span class="c5">Ne poti suna la telefon: </span><span class="c5 c12">0721.203.933 </span><span
              class="c5">de luni pana vineri in </span><span class="c5 c12">intervalul orar 09:00 – 18:00</span><span
              class="c0">&nbsp;pentru a comanda produsele dorite.</span></p>
          <hr>
          <p class="c4 c10"><span class="c0"></span></p>
          <p class="c18"><span class="c11">Mentiune Importanta:</span><span class="c6">&nbsp;</span></p>
          <p class="c18"><span class="c2">Produsele care necesita colorare personalizata, trebuie sa fie achitate in
              avans.</span></p>
          <p class="c4 c9 c10"><span class="c7"></span></p>
          <p class="c4 c9"><span class="c7">Vrei sa ne intrebi ceva?</span></p>
          <p class="c4 c9"><span class="c16">Suna la </span><span class="c5 c12">0721.203.933 </span><span class="c5">de
              luni pana vineri in </span><span class="c5 c12">intervalul orar 09:00 – 18:00</span></p>
          <p class="c4 c9"><span class="c16">Trimite e-mail la </span><span class="c5">&nbsp;</span><span class="c1"><a
                class="c13" href="mailto:magazin@prostaff.ro">magazin@prostaff.ro</a></span><span class="c5">&nbsp;sau
            </span><span class="c1"><a class="c13" href="mailto:office@prostaff.ro">office@prostaff.ro</a></span><span
              class="c3">&nbsp;</span></p>
          <p class="c18 c10"><span class="c2"></span></p>
          <p class="c8"><span class="c2"></span></p>
        </div>
      </div>
    </div><!-- End .row -->
  </div><!-- End .container -->

  <div class="mb-8"></div><!-- margin -->
</main><!-- End .main -->
