.service-category-widget {
  ul {
    border-bottom: 4px solid #09aa42;

    li {
      i {
        color: #09aa42;
      }
    }
  }
}

.contact-widget {
  background-color: #f7f9fb;
  padding: 12px 28px;

  h3 {
    color: #212121;
    border: none;
    margin: 20px 0;
    font-weight: bold;
  }

  ul {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      align-items: center;

      img {
        height: 40px;
        background: #09aa42;
        padding: 4px;
        margin-right: 16px;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}


.prices-widget {
  background-color: #f7f9fb;
  padding: 12px 28px;
  margin-top: 20px;

  h3 {
    color: #212121;
    border: none;
    margin: 20px 0;
    font-weight: bold;
  }

  li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 10px;
      &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 8px;
          height: 8px;
          display: flex;
          background-color: #09aa42;
          border-radius: 50%;
      }
  }
}