.card {
    padding: 16px;
    align-items: flex-start;

    .order-status {
        padding: 4px 8px;
    }
}

.blue-500 {
    background-color: #2196F3;
    color: #fff;
}

.red-900 {
    background-color: #B71C1C;
    color: #fff;
}

.green-500 {
    background-color: #4CAF50;
    color: #fff;
}

.orange-500 {
    background-color: #FF9800;
    color: #fff;
}

