<main class="main">
    
    <div class="page-header">
        <div class="container">
            <h1>Contact</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <div class="container">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.5705865551618!2d26.11622031572219!3d44.44196997910214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff35d606a1c3%3A0xfaea1a9d3dfc6e52!2sPro%20Staff%20-%20Vopsele%20decorative!5e0!3m2!1sro!2sro!4v1610724156019!5m2!1sro!2sro" width="100%" height="460" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div><!-- End #map -->

        <div class="row">
            <div class="col-md-8">
                <h2 class="light-title">MAI AI <strong>INTREBARI?</strong></h2>
                <p> Te rugam sa ne suni folosind numarul de telefon <a href="tel:+40721203933">(0721) 203 933</a> <br> sau sa ne trimiti un email la adresa <a href="mailto:hello@pro-staff.ro">hello@pro-staff.ro</a></p>
                <form action="#">
                    <div class="form-group required-field">
                        <label for="contact-name">Nume</label>
                        <input type="text" class="form-control" id="contact-name" name="contact-name" required>
                    </div><!-- End .form-group -->

                    <div class="form-group required-field">
                        <label for="contact-email">Email</label>
                        <input type="email" class="form-control" id="contact-email" name="contact-email" required>
                    </div><!-- End .form-group -->

                    <div class="form-group">
                        <label for="contact-phone">Telefon</label>
                        <input type="tel" class="form-control" id="contact-phone" name="contact-phone">
                    </div><!-- End .form-group -->

                    <div class="form-group required-field">
                        <label for="contact-message">Mesajul tau</label>
                        <textarea cols="30" rows="1" id="contact-message" class="form-control" name="contact-message" required></textarea>
                    </div><!-- End .form-group -->

                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary">Trimite</button>
                    </div><!-- End .form-footer -->
                </form>
            </div><!-- End .col-md-8 -->

            <div class="col-md-4">
                <h2 class="light-title">Detalii <strong>Contact</strong></h2>

                <div class="contact-info">
                    <div>
                        <i class="icon-mobile"></i>
                        <p><a href="tel:+40721203933">(0721) 203 933</a></p>
                        <p><a href="tel:+40722589860">(0722) 589 860</a></p>
                    </div>
                    <div>
                        <i class="icon-mail-alt"></i>
                        <p><a href="mailto:office@prostaff.ro">office@prostaff.ro</a></p>
                        <p><a href="mailto:magazin@prostaff.ro">magazin@prostaff.ro</a></p>
                    </div>
                </div><!-- End .contact-info -->

                <h2 class="light-title">Program <strong>Magazin</strong></h2>

                <div class="contact-info schedule">
                    <div>
                        <p>Luni-Vineri: 09:00 – 18:00</p>
                        <p>Sambata: 09:00-14:00</p>
                    </div>
                    
                </div><!-- End .contact-info -->

                <iframe src="https://www.google.com/maps/embed?pb=!4v1536672478004!6m8!1m7!1sCAoSLEFGMVFpcE9iTWlCdHVlajUtOVFRd3RyUUUzX1dLNnRNc3JERDFZdTVZR0Yx!2m2!1d44.44209746034624!2d26.11851554363966!3f207.93044162979737!4f-0.26596814946006475!5f0.4000000000000002" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                <iframe src="https://www.google.com/maps/embed?pb=!4v1536672109565!6m8!1m7!1sCAoSLEFGMVFpcE8tTm5zTmdEemxwWkpMUG43VE1xMnBDaDBmREtrUFB0SU9jRFgy!2m2!1d44.44199357227954!2d26.1186047270894!3f292.1246756209384!4f-0.010640798491166947!5f0.7820865974627469" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div><!-- End .col-md-4 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="mb-8"></div><!-- margin -->
</main><!-- End .main -->