<div class="widget">
  <h3 class="widget-title">
    <a data-toggle="collapse" href="#qnt" role="button" aria-expanded="true"
      aria-controls="qnt">Cantitati</a>
  </h3>
  <div class="collapse show" id="qnt">
    <div class="widget-body">
      <ul class="cat-list">
        <ng-container *ngFor="let quantity of quantities">
          <li *ngIf="quantity.productCount > 0">
            <a (click)="getProductsByQnt(quantity.id);">{{quantity.quantity}} {{quantity.um}}
              ({{quantity.productCount}})</a>
          </li>
        </ng-container>
      </ul>
    </div><!-- End .widget-body -->
  </div><!-- End .collapse -->
</div><!-- End .widget -->
