#scroll-top {
  background-color: $color-primary;
}


.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $color-primary;
  border-color: $color-primary;
}

.owl-theme .owl-dots .owl-dot span {
  border-color: $color-primary;
}

.product-section-slider::after,
.product-section-slider::before {
  border-top-color: $color-primary;
}

.cart-dropdown .product-title {
  margin-right: 10px;
}

.sticky-header.fixed {
  background-color: $color-primary;
}

@media screen and (max-width: 767px) {
  .header-middle .header-right {
    margin-bottom: 0;
  }
}


.app,
body.admin {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.admin {
  .page-wrapper {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;

    .main {
      position: relative;
      flex-direction: column;
      z-index: 1;
      min-width: 0;
    }
  }
}

.entry-meta {
  display: flex;
  align-items: center;

  span {
    display: flex;
    align-items: center;

    .paint {
      height: 13px;
      margin-right: 10px;
      margin-top: -2px;
    }

    a {
      display: flex;
      align-items: center;

      img {
        height: 50px;
        margin: 0 16px;

      }
    }
  }
}


.body {
  overflow: hidden;

  &.modal-open {
    overflow: hidden;

    .page-wrapper {
      overflow: hidden;
    }

    overflow: hidden;
  }
}

.page-wrapper {
  height: 100%;
  overflow: auto;
}

a.add-cart:not([href]):not([tabindex]):focus,
a.add-cart:not([href]):not([tabindex]):hover {
  background-color: #141414;
  color: #fff;
  cursor: pointer;
}

a.add-cart:not([href]):not([tabindex]) {
  background-color: #000;
  color: #fff;
}

.toolbox-item.toolbox-show {
  margin-left: auto;
  font-size: 1.2rem;
}

.page-link:not(:disabled):not(.disabled) {
  color: #939393;
}

.active:not(:disabled):not(.disabled) .page-link {
  color: #000;
}


.page-link-btn:not(:disabled):not(.disabled) {
  color: #fff;
}


.owl-theme,
.owl-carousel,
.owl-carousel .owl-stage-outer,
owl-stage,
.owl-carousel .owl-stage,
.owl-carousel .owl-item {
  height: 100%;
}

owl-stage {
  display: flex;
}

.owl-dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.featured-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: none !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 2;
}

.product-label {
  padding: .5rem;
}


.product-single-filter .config-size-list li a {
  width: auto;
  padding: 0 8px;
  cursor: pointer;
}


.product-image-container {
  height: 200px;
  display: flex;
  align-items: center;
  background: #FFF;
  justify-content: center;

  .product-image {
    img {
      width: auto;
      max-height: 200px;
    }
  }
}

.btn-quickview {
  border: 1px solid #FFC107;
}

.btn-quickview:hover,
.btn-quickview:focus,
.product:hover .btn-quickview:hover,
.product:hover .btn-quickview:focus {
  color: #333;
  background-color: #fff;
  opacity: 1;
  cursor: pointer;
}


.product-single-carousel {
  .owl-nav {
    display: none;
  }
}

.cart-dropdown .product-image-container {
  height: auto;
}

.address-box-action .btn.btn-sm {
  &:hover {
    color: #fff;
  }
}

.btn-primary {
  border-color: #000;
  background-color: #000;
  color: #fff !important;
  box-shadow: none;
}

.table-mini-cart .product-col .product-image-container {
  height: 70px;
}

.header.header-transparent,
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #FFC107;
  z-index: 1040;
}

.pagination {
  display: flex;

  .pagination-next a,
  .pagination-previous a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-size: 1.8rem;
    margin: 0 10px;

    &:hover {
      background-color: #000;
      opacity: .8;
    }

    &:after {
      display: flex;
      margin-left: 2px;
      align-items: center;
      justify-content: center;
      margin-top: -2px;

    }
  }

  .pagination-previous, .pagination-next {
    &.disabled {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      padding: 0;
      background-color: #ddd;
      color: #fff;
      font-size: 1.8rem;
      margin: 0 10px;

      &:hover {
        background-color: #ddd;
      }
    }
  }

  li {
    a {
      margin-left: -1px;
      padding: 0 1rem;
      border: 0;
      background-color: transparent;
      color: #939393;
      line-height: 1.25;

      &:hover {
        background: transparent;
        text-decoration: none;
      }
    }

    button {
      &:hover {
        background: transparent;
      }
    }

    &.current {
      background: transparent;
      color: #000;
    }
  }


}

.pagination .ngx-pagination .show-for-sr {
  position: absolute !important;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .ngx-pagination a,
.ngx-pagination button {
  cursor: pointer;
  display: flex;
}


.ngx-pagination {
  display: flex;
  align-items: center;
}


a:not([href]):not([tabindex]){
  &:hover {
    cursor: pointer;
  }
}