<main class="main">

  <div class="page-header">
    <div class="container">
      <h1>Modalitati de plata</h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->

  <div class="container google-docs">


    <div class="row">
      <div class="col-xs-12">
        <div class="c16">
          <p class="c5"><span class="c19 c20">Modalitati de Plata</span></p>
          <p class="c5"><span class="c19">1. </span><span class="c11">Numerar</span></p>
          <p class="c1"><span class="c6">Poti comada online, telefonic sau prin e-mail si ai posibilitatea de a plati in
              numerar, la sediul nostru, in momentul ridicarii comenzii.</span></p>
          <p class="c1"><span class="c7">Adresa:</span><span class="c6">&nbsp;Calea Mosilor 274, Sector 2,
              Bucuresti</span></p>
          <p class="c1"><span class="c7">Program</span><span class="c6">: Luni-Vineri (09:00 - 18:00) si Sambata (10:00
              - 14:00)</span></p>
          <p class="c5"><span class="c11">2. Ramburs</span></p>
          <p class="c1"><span class="c6">In momentul livrarii coletului poti achita cash curierului suma aferenta
              produselor comandate.</span></p>
          <p class="c5"><span class="c11">3. Online, cu cardul</span></p>
          <p class="c1"><span class="c9">Poti plati online, cu cardul personal, folosind urmatoarele tipuri de card de
              credit: </span><span class="c7">VISA</span><span class="c9">&nbsp;(Classic si Electron) si </span><span
              class="c7">MASTERCARD</span><span class="c6">.</span></p>
          <p class="c1"><span class="c6">Nu se percep comisioane sau taxe suplimentare de trazactie.</span></p>
          <p class="c1"><span class="c7 c17">Datele necesare platii online cu cardul sunt:</span></p>
          <p class="c5 c8"><span class="c9">·</span><span class="c9">&nbsp; &nbsp; &nbsp; &nbsp; </span><span
              class="c6">Codul cardului (cele 16 cifre de pe fata cardului, fara spatiu intre ele).</span></p>
          <p class="c5 c8"><span class="c9">·</span><span class="c9">&nbsp; &nbsp; &nbsp; &nbsp; </span><span
              class="c6">Codul CVV2, adica ultimele 3 cifre de pe spatele cardului, din dreptul semnaturii.</span></p>
          <p class="c5 c8"><span class="c9">·</span><span class="c9">&nbsp; &nbsp; &nbsp; &nbsp; </span><span
              class="c6">Data de expirare a cardului.</span></p>
          <p class="c5"><span class="c11">4. Ordin de plata</span></p>
          <p class="c1"><span class="c6">Imediat dupa lansarea comenzii, putem emite o factura proforma, care este
              expediata prin e-mail catre client.</span></p>
          <p class="c1"><span class="c6">Dupa confirmarea platii si intrarea banilor in contul vanzatorului, se
              elibereaza factura fiscala aferenta cumparaturilor si marfa va fi expediata.</span></p>
          <p class="c1 c4"><span class="c6"></span></p>
          <p class="c14"><span class="c17 c7">Vrei sa ne intrebi ceva?</span></p>
          <p class="c14"><span class="c9">Suna la </span><span class="c2">0721.203.933 </span><span class="c9 c10">de
              luni pana vineri in </span><span class="c2">intervalul orar 09:00 – 18:00</span></p>
          <p class="c14"><span class="c9">Trimite e-mail la </span><span class="c9 c10">&nbsp;</span><span
              class="c13 c9"><a class="c3" href="mailto:magazin@prostaff.ro">magazin@prostaff.ro</a></span><span
              class="c9 c10">&nbsp;sau </span><span class="c9 c13"><a class="c3"
                href="mailto:office@prostaff.ro">office@prostaff.ro</a></span><span class="c6">&nbsp;</span></p>
          <p class="c1 c4"><span class="c6"></span></p>
          <p class="c15 c4"><span class="c12"></span></p>
          <p class="c18"><span class="c12">&nbsp;</span></p>
          <p class="c4 c15"><span class="c0"></span></p>
        </div>
      </div>
    </div><!-- End .row -->
  </div><!-- End .container -->

  <div class="mb-8"></div><!-- margin -->
</main><!-- End .main -->
