.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}


.pagination-item {
    cursor: pointer;
    background: #ccc;
    padding: 1rem;
    width: 50px;
    text-align: center;
    color: #fff;
}

.pagination-item:first-child {
    background: #e66a6a;
}

.pagination-item:last-child {
    background: #67c567;
}

.pagination-item:not(:last-child) {
    margin-right: 5px;
}

.current-page {
    background: #feb801 !important;
}