<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasa</a></li>
        <li class="breadcrumb-item active" aria-current="page">Autentificare</li>
      </ol>
    </div><!-- End .container-fluid -->
  </nav>

  <div class="page-header">
    <div class="container">
      <h1>Autentificare sau creare cont</h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="heading">
          <h2 class="title">Autentificare</h2>
          <p>Daca aveti deja cont, va rugam sa va autentificati.</p>
        </div><!-- End .heading -->

        <form action="#">
          <input type="email" class="form-control" placeholder="Email" required>
          <input type="password" class="form-control" placeholder="Parola" required>

          <div class="form-footer">
            <button type="submit" class="btn btn-primary">Autentificare</button>
            <a href="/am-uitat-parola" class="forget-pass"> Ai uitat parola?</a>
          </div><!-- End .form-footer -->
        </form>
      </div><!-- End .col-md-6 -->

      <div class="col-md-6">
        <div class="heading">
          <h2 class="title">De ce sa-ti faci cont?</h2>
          <p>Avantaje unui cont pe site-ul nostru consta plasarea mai rapida a comenzii, posibilitatea de a stoca si de
            alege rapid adresele de livrare si vizualizarea comenzii sau a istoricului comenzilor.</p>

        </div><!-- End .heading -->

        <form action="#">
          <input type="text" class="form-control" placeholder="First Name" required>
          <input type="text" class="form-control" placeholder="Middle Name" required>
          <input type="text" class="form-control" placeholder="Last Name" required>

          <h2 class="mb-2">Login information</h2>
          <input type="email" class="form-control" placeholder="Email Address" required>
          <input type="password" class="form-control" placeholder="Password" required>
          <input type="password" class="form-control" placeholder="Confirm Password" required>

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="newsletter-signup">
            <label class="custom-control-label" for="newsletter-signup">Sing up our Newsletter</label>
          </div><!-- End .custom-checkbox -->

          <div class="form-footer">
            <button type="submit" class="btn btn-primary">Create Account</button>
          </div><!-- End .form-footer -->
        </form>
        <!-- <button class="btn btn-outline-warning" (click)="login(Role.User)">Login as User</button> -->

        <!-- <button class="btn btn-outline-danger" (click)="login(Role.Admin)">Login as Admin</button> -->
      </div><!-- End .col-md-6 -->
    </div><!-- End .row -->
  </div><!-- End .container -->

  <div class="mb-5"></div><!-- margin -->
</main><!-- End .main -->
