<main class="main">

  <div class="page-header">
    <div class="container">
      <h1>Livrarea produselor</h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->

  <div class="container google-docs">


    <div class="row">
      <div class="col-xs-12">
        <div class="c13">
          <p class="c15"><span class="c11">Livrarea produselor</span></p>
          <p class="c4"><span class="c5 c0">Comanda este livrata la adresa inscrisa in formularul de comanda, oriunde in
              Romania.</span></p>
          <p class="c15"><span class="c7">1. PENTRU BUCURESTI</span></p>
          <p class="c1"><span class="c0">·</span><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; Pentru comenzile mai mici
              de 400 lei, c</span><span class="c5 c0">ostul de livrare poate fi stabilit doar in urma unei simulari pe
              platforma transportatorului contractat si va fi comunicat inainte de expedierea comenzii, acesta
              regasindu-se ulterior pe factura;</span></p>
          <p class="c1"><span class="c0">·</span><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; </span><span
              class="c0">Pentru comenzile care depasesc suma de </span><span class="c0">400 &nbsp;lei</span><span
              class="c5 c0">, transportul este GRATUIT;</span></p>
          <p class="c1"><span class="c0">·</span><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; </span><span
              class="c5 c0">Comenzile confirmate pana in ora 14, vor intra in procesul de livrare in aceeasi zi;</span>
          </p>
          <p class="c1"><span class="c0">·</span><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; </span><span
              class="c5 c0">Termenul de livrare este de 1-3 zile lucratoare.*</span></p>
          <p class="c1"><span class="c5 c0">*Pot exista cazuri speciale in care comanda sa depaseasca acest interval, de
              care veti fi anuntati.</span></p>
          <p class="c15"><span class="c7">2. PENTRU PROVINCIE</span></p>
          <p class="c1"><span class="c0">·</span><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; Pentru comenzile mai mici
              de 4000 lei, c</span><span class="c5 c0">ostul de livrare poate fi stabilit doar in urma unei simulari pe
              platforma transportatorului contractat si va fi comunicat inainte de expedierea comenzii, acesta
              regasinduse ulterior pe factura;</span></p>
          <p class="c1"><span class="c0">·</span><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; </span><span
              class="c5 c0">Pentru comenzile care depasesc suma de 4000 &nbsp;lei, transportul este GRATUIT; </span></p>
          <p class="c1"><span class="c0">·</span><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; </span><span
              class="c5 c0">Comenzile confirmate pana in ora 14:00, vor intra in procesul de livrare in aceeasi
              zi;</span></p>
          <p class="c1"><span class="c0">·</span><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; </span><span
              class="c5 c0">Termenul de livrare este de 2-5 zile lucratoare.*</span></p>
          <p class="c1"><span class="c5 c0">*Pot exista cazuri speciale in care comanda sa depaseasca acest interval, de
              care veti fi anuntati.</span></p>
          <hr>
          <p class="c1 c6"><span class="c0 c5"></span></p>
          <p class="c1"><span class="c8 c0 c16">FOARTE IMPORTANT</span></p>
          <p class="c4"><span class="c0">La livrarea comenzii, va rugam sa verificati integritatea coletului
            </span><span class="c0 c8">in prezenta curierului </span><span class="c5 c0">si sa solicitati intocmirea
              unui proces verbal in cazul in care coletul este deteriorat. </span></p>
          <p class="c4"><span class="c5 c0">Acest aspect este deosebit de important, deoarece reclamatiile ulterioare nu
              vor fi luate in considerare.</span></p>
          <p class="c4"><span class="c8 c0 c14">Vrei sa ne intrebi ceva?</span></p>
          <p class="c4"><span class="c0">Suna la </span><span class="c0 c2">0721.203.933 </span><span class="c0 c3">de
              luni pana vineri in </span><span class="c2 c0">intervalul orar 09:00 – 18:00</span></p>
          <p class="c4"><span class="c0">Trimite e-mail la </span><span class="c0 c3">&nbsp;</span><span
              class="c12 c0"><a class="c10" href="mailto:magazin@prostaff.ro">magazin@prostaff.ro</a></span><span
              class="c0 c3">&nbsp;sau </span><span class="c0 c12"><a class="c10"
                href="mailto:office@prostaff.ro">office@prostaff.ro</a></span><span class="c5 c0">&nbsp;</span></p>
          <p class="c4 c6"><span class="c5 c0"></span></p>
          <p class="c6 c9"><span class="c5 c17"></span></p>
        </div>
      </div>
    </div><!-- End .row -->
  </div><!-- End .container -->

  <div class="mb-8"></div><!-- margin -->
</main><!-- End .main -->
