ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c1 {
  background-color: #ffffff;
  margin-left: 24pt;
  padding-top: 8px;
  text-indent: -18pt;
  padding-bottom: 8px;
  
  orphans: 2;
  widows: 2;
  text-align: left
}

.c4 {
  background-color: #ffffff;
  padding-top: 8px;
  padding-bottom: 18pt;
  
  orphans: 2;
  widows: 2;
  text-align: left
}

.c15 {
  background-color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  
  orphans: 2;
  widows: 2;
  text-align: left
}

.c11 {
  color: #3e4555;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 17.5pt;
  
  font-style: normal
}

.c7 {
  color: #3e4555;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 16px;
  
  font-style: normal
}

.c5 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  
  font-style: normal
}

.c9 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  
  orphans: 2;
  widows: 2;
  text-align: left
}

.c16 {
  color: #ff0000;
  text-decoration: none;
  vertical-align: baseline;
  
  font-style: normal
}

.c14 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  
  font-style: normal
}

.c12 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline
}

.c13 {
  background-color: #ffffff;

}

.c10 {
  color: inherit;
  text-decoration: inherit
}

.c2 {
  color: #222222;
  font-weight: 700
}

.c17 {
  font-size: 16px
}

.c8 {
  font-weight: 700
}

.c6 {
  height: 16px
}

.c0 {
  font-size: 10pt
}

.c3 {
  color: #222222
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16px;
  
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 16px;
  
}

p {
  margin: 0;
  color: #000000;
  font-size: 16px;
  
}

h1 {
  padding-top: 20pt;
  color: #000000;
  
  
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 16px;
  padding-bottom: 4pt;
  
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 16px;
  color: #666666;
  
  padding-bottom: 4pt;
  
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 8px;
  color: #666666;
  font-size: 16px;
  padding-bottom: 4pt;
  
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 8px;
  color: #666666;
  font-size: 16px;
  padding-bottom: 4pt;
  
  
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
