:host {
    margin-top: 40px;
    display: flex;
}

.owl-carousel {
    .owl-stage {
        display: flex;
    }
    .owl-item {
        display: flex;
        flex-direction: column;
    }
} 

.product-image-container {
   
    background-color: #fff;
   
   
      display: flex;
      align-items: center;
      height: 250px;
  }

  .product {
  
    display: flex;
    flex-direction: column;
    flex: 1;
  }