<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Acasa</a></li>
        <li class="breadcrumb-item active" aria-current="page">Blog</li>
      </ol>
    </div><!-- End .container-fluid -->
  </nav>

  <div class="page-header">
    <div class="container">
      <h1>Blog</h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <article class="entry" *ngFor="let post of posts | paginate: { itemsPerPage: 5, currentPage: p }">
          <div class="entry-media">
            <a [routerLink]="['/blog', post.postSlug]">
              <img src="{{post.image}}" alt="">
            </a>
          </div><!-- End .entry-media -->

          <div class="entry-body">
            <div class="entry-date">
              <span class="day">{{post.date_added | date: 'dd'}}</span>
              <span class="month">{{post.date_added | date: 'MMM'}}</span>
            </div><!-- End .entry-date -->

            <h2 class="entry-title">
              <a [routerLink]="['/blog', post.postSlug]">{{post.title}}</a>
            </h2>

            <div class="entry-content">
              <p>{{post.shortDescription}}</p>

              <a [routerLink]="['/blog',post.postSlug]" class="read-more">Citeste mai mult <i
                  class="icon-angle-double-right"></i></a>
            </div><!-- End .entry-content -->

            <div class="entry-meta">

              <span><i class="icon-user"></i><a>Prostaff</a></span>
              <div><i class="icon-folder-open"></i>
                <span *ngFor="let category of post.categories">
                  <a routerLink="/blog/categorie/{{category.slug}}">[{{category.blog_category_name}}] </a>
                </span>

              </div>
            </div><!-- End .entry-meta -->
          </div><!-- End .entry-body -->
        </article><!-- End .entry -->

        <pagination-controls (pageChange)="p = $event" class="float-right pagination" directionLinks="true"
          autoHide="true" responsive="true" previousLabel="" nextLabel="" screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>


      </div><!-- End .col-lg-9 -->
      <aside class="sidebar col-lg-3">
        <app-blog-sidebar (dateEmit)="getBlogsByDate($event)"></app-blog-sidebar>
      </aside>
    </div><!-- End .row -->
  </div><!-- End .container -->

  <div class="mb-6"></div><!-- margin -->
</main><!-- End .main -->
