<div class="product-slider-section">


  <owl-carousel-o [options]="customOptions">
 
    <ng-container *ngFor="let slide of sliders">
      <ng-template carouselSlide [id]="slide.id">
        <div class="featured-bg" [attr.data-src]="slide.banner"  style="opacity: 1"></div>
        <div class="container-fluid product-slide-content">
          <div class="row">
            <div class="col-sm-6 offset-sm-6 col-md-6 offset-md-6 col-lg-5 offset-lg-7">
              <h3 style="margin-top: 40px">{{slide.category_name}}</h3>
  
              
             <ul class="category-product__list">
                <li class="category-product__item" *ngFor="let product of _vopseaDecorativa">
                    <a routerLink="/produs/{{product.alias}}">
                        <img src="{{product.image_url}}" alt="">
                    </a>
                </li>
              </ul> 
              <a routerLink="/categorie/vopsea-decorativa" class="btn btn-orange">Cumpara acum</a>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
 
  </owl-carousel-o>
   
  </div><!-- End .product-slider-section -->