.services-style2 .service-box > figure {
    position: absolute;
    left: 15px;
    border-radius: 100%;
    border: 3px solid #fff;
    top: 35px;
    width: 114px;
    height: 114px;
    overflow: hidden;

    img {
        height: 114px;
        max-width: unset;
        transform: translate(-25%, 0%);
    }
}

.services-style2 .service-box-inner h4 {
    margin: 40px 0;
}

@media (max-width: 991px) {
    .service-content {
        
    }
}