<app-slider></app-slider>
<app-featured-products></app-featured-products>
<div class="mb-5 mb-md-7 mb-lg-9"></div><!-- margin -->

<div class="product-slider-section">
  <div class="product-section-slider owl-carousel owl-carousel-lazy owl-theme owl-theme-light">
    <div class="product-section-slide">
      <div class="slide-bg owl-lazy" data-src="assets/images/section/slide-section1.jpg"></div><!-- End .slide-bg -->

      <div class="container-fluid product-slide-content">
        <div class="row">
          <div class="col-sm-6 offset-sm-6 col-lg-5 offset-lg-7">
            <h3 style="margin-top: 40px">VOPSEA DECORATIVA</h3>

            <img src="assets/images/section/vopsea-decorativa.png" alt="img">
            <a href="/categorie/vopsea-decorativa" class="btn btn-orange">Cumpara acum</a>
          </div><!-- End .col-lg-5 -->
        </div><!-- End .row -->
      </div><!-- End .product-slide-content -->
    </div><!-- .product-section-slide -->

    <div class="product-section-slide">
      <div class="slide-bg owl-lazy" data-src="assets/images/section/vopsea-lavabila.png"></div><!-- End .slide-bg -->

      <div class="container-fluid product-slide-content">
        <div class="row">
          <div class="col-sm-6 offset-sm-6 col-lg-5 offset-lg-7">
            <h3 style="margin-top: 40px">VOPSEA LAVABILA</h3>

            <img src="assets/images/section/vopsea-decorativa.png" alt="img">
            <a href="/categorie/vopsea-lavabila" class="btn btn-orange">Cumpara acum</a>
          </div><!-- End .col-lg-5 -->
        </div><!-- End .row -->
      </div><!-- End .product-slide-content -->
    </div><!-- .product-section-slide -->

    <div class="product-section-slide">
      <div class="slide-bg owl-lazy" data-src="assets/images/section/accesorii.jpg"></div><!-- End .slide-bg -->

      <div class="container-fluid product-slide-content">
        <div class="row">
          <div class="col-sm-6 offset-sm-6 col-lg-5 offset-lg-7">
            <h3 style="margin-top: 40px">APARATE SI SCULE DE VOPSIT</h3>

            <img src="assets/images/section/vopsea-decorativa.png" alt="img">
            <a href="/categorie/aparate-si-scule-de-vopsit" class="btn btn-orange">Cumpara acum</a>
          </div><!-- End .col-lg-5 -->
        </div><!-- End .row -->
      </div><!-- End .product-slide-content -->
    </div><!-- .product-section-slide -->
  </div><!-- End .product-section-slider -->
</div><!-- End .product-slider-section -->

<div class="products-filter-container">
  <div class="container-fluid">
    <div class="row align-items-lg-stretch">
      <aside class="filter-sidebar col-lg-2">
        <div class="sidebar-wrapper">
          <h3>Produse</h3>
          <ul class="check-filter-list">
            <li [class.active]="active === 1">
              <a href="#"
                (click)="this.getProducts('vopsea-lavabila');this.active=1;this.dynamicProductViewer='vopsea-lavabila';">VOPSEA
                LAVABILA</a>
            </li>
            <li [class.active]="active === 2">
              <a href="#"
                (click)="this.getProducts('vopsea-decorativa');this.active=2;this.dynamicProductViewer='vopsea-decorativa';">VOPSEA
                DECORATIVA</a>
            </li>
            <li [class.active]="active === 3">
              <a href="#"
                (click)="this.getProducts('vopsea-metal');this.active=3;this.dynamicProductViewer='vopsea-metal';">VOPSEA
                METAL</a>
            </li>
            <li [class.active]="active === 4">
              <a href="#"
                (click)="this.getProducts('pentru-lemn');this.active=4;this.dynamicProductViewer='pentru-lemn';">PENTRU
                LEMN</a>
            </li>
            <li [class.active]="active === 5">
              <a href="#"
                (click)="this.getProducts('vopsea-pardoseala');this.active=5;this.dynamicProductViewer='vopsea-pardoseala';">VOPSEA
                PARDOSEALA</a>
            </li>
            <li [class.active]="active === 6">
              <a href="#"
                (click)="this.getProducts('vopsea-ceramica');this.active=6;this.dynamicProductViewer='vopsea-ceramica';">VOPSEA
                CERAMICA</a>
            </li>
            <li [class.active]="active === 7">
              <a href="#"
                (click)="this.getProducts('hidroizolatii');this.active=7;this.dynamicProductViewer='hidroizolatii';">HIDROIZOLATII</a>
            </li>
            <li [class.active]="active === 8">
              <a href="#"
                (click)="this.getProducts('camere-copii');this.active=8;this.dynamicProductViewer='camere-copii';">CAMERE
                COPII</a>
            </li>
            <li [class.active]="active === 9">
              <a href="#"
                (click)="this.getProducts('aparate-si-scule-de-vopsit');this.active=9;this.dynamicProductViewer='aparate-si-scule-de-vopsit';">APARATE
                ȘI SCULE DE VOPSIT</a>
            </li>
          </ul>
        </div><!-- End .sidebar-wrapper -->
      </aside><!-- End .col-lg-3 -->

      <div class="col-lg-10">
        <div class="row row-sm justify-content-center">
          <div class="col-6 col-md-4 col-lg-3 col-xl-5col" *ngFor="let product of _products">
            <div class="product">
              <figure class="product-image-container">
                <a href="{{product.slug}}" class="product-image">
                  <img src="{{product.image_url}}" height="150px" width="150px" alt="product">
                </a>
                <a href="/produs/{{product.alias}}" class="btn-quickview">Vezi detalii</a>
              </figure>
              <div class="product-details">


                <h2 class="product-title">
                  <a href="/produs/{{product.alias}}">{{product.product_name}}</a>
                </h2>
                <div class="price-box">
                  <span class="product-price">{{product.price}}</span>
                </div><!-- End .price-box -->
              </div><!-- End .product-details -->
            </div><!-- End .product -->


          </div><!-- End .col-lg-3 -->
        </div><!-- End .row -->

        <div class="product-more-container" *ngIf="dynamicProductViewer">
          <a href="/categorie/{{dynamicProductViewer}}" class="btn btn-outline-dark">Vezi toate produsele</a>
        </div><!-- End .product-more-container -->
      </div><!-- End .col-lg-9 -->
    </div><!-- End .row -->
  </div><!-- End .container-fluid -->
</div><!-- End .produts-filter-container-->

<div class="info-boxes-container" style="position: relative; z-index: 99;">
  <div class="container-fluid">
    <div class="row">
      <div class="info-box">
        <i class="icon-support"></i>

        <div class="info-box-content">
          <h4>Consiliere
            tehnica</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div><!-- End .info-box-content -->
      </div><!-- End .info-box -->

      <div class="info-box">
        <i class="icon-shipping"></i>

        <div class="info-box-content">
          <h4>Transport
            gratuit in Bucuresti</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div><!-- End .info-box-content -->
      </div><!-- End .info-box -->

      <div class="info-box">
        <img style="margin-right: 20px; height: 48px;" src="/assets/icons/paintings.svg" alt="">

        <div class="info-box-content">
          <h4>Colorare
            in aproape orice nuanta</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div><!-- End .info-box-content -->
      </div><!-- End .info-box -->

      <div class="info-box">
        <img style="margin-right: 20px; height: 48px;" src="/assets/icons/painting.svg" alt="">

        <div class="info-box-content">
          <h4>Oferim aplicatori
            la cerere</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div><!-- End .info-box-content -->
      </div><!-- End .info-box -->

    </div><!-- End .row -->
  </div><!-- End .container-fluid -->
</div>
