<app-slider></app-slider>

<div class="container-fluid">
    <h2 class="subtitle text-center">Cele mai cautate produse</h2>

    <div class="featured-products owl-carousel owl-theme">
        <div class="product" *ngFor="let product of products; index as productId">
            <figure class="product-image-container">
                <a [routerLink]="['/produse',product.name, productId]" class="product-image">
                    <img src="{{product.image}}" alt="product">
                </a>
                <span class="product-label label-sale" *ngIf="product.discount > 0">-{{product.discount}}%</span>
                <span class="product-label label-new" *ngIf="product.newProduct === true">Nou</span>
                <a [routerLink]="['/produse',product.name, productId]" class="btn-quickview">Vezi detalii</a>
            </figure>
            <div class="product-details">
                
                <ul class="config-swatch-list" *ngIf="product.colors.length > 0">
                    <li *ngFor="let color of product.colors">
                        {{color}}
                        <a [ngStyle]="{'background-color': color}"></a>
                    </li>
                   
                </ul>
        
                <h2 class="product-title">
                    <a href="product.html">{{product.name}}</a>
                </h2>
                <div class="price-box">
                    <span class="old-price" *ngIf="product.discount > 0">{{ ((product.price/product.discount)*100).toFixed(2) }}</span>
                    <span class="product-price">{{product.price}} lei</span>
                </div><!-- End .price-box -->
            </div><!-- End .product-details -->
        </div><!-- End .product -->
    </div><!-- End .featured-produts -->
</div><!-- End .container-fluid -->

<div class="mb-5 mb-md-7 mb-lg-9"></div><!-- margin -->

<div class="product-slider-section">
    <div class="product-section-slider owl-carousel owl-carousel-lazy owl-theme owl-theme-light">
        <div class="product-section-slide">
            <div class="slide-bg owl-lazy" data-src="assets/images/section/slide-section1.jpg"></div><!-- End .slide-bg -->

            <div class="container-fluid product-slide-content">
                <div class="row">
                    <div class="col-sm-6 offset-sm-6 col-lg-5 offset-lg-7">
                        <h3 style="margin-top: 40px">VOPSEA DECORATIVA</h3>

                        <img src="assets/images/section/vopsea-decorativa.png" alt="img">
                        <a href="#" class="btn btn-orange">Cumpara acum</a>
                    </div><!-- End .col-lg-5 -->
                </div><!-- End .row -->
            </div><!-- End .product-slide-content -->
        </div><!-- .product-section-slide -->

        <div class="product-section-slide">
            <div class="slide-bg owl-lazy" data-src="assets/images/section/vopsea-lavabila.png"></div><!-- End .slide-bg -->

            <div class="container-fluid product-slide-content">
                <div class="row">
                    <div class="col-sm-6 offset-sm-6 col-lg-5 offset-lg-7">
                        <h3 style="margin-top: 40px">VOPSEA LAVABILA</h3>

                        <img src="assets/images/section/vopsea-decorativa.png" alt="img">
                        <a href="#" class="btn btn-orange">Cumpara acum</a>
                    </div><!-- End .col-lg-5 -->
                </div><!-- End .row -->
            </div><!-- End .product-slide-content -->
        </div><!-- .product-section-slide -->

        <div class="product-section-slide">
            <div class="slide-bg owl-lazy" data-src="assets/images/section/accesorii.jpg"></div><!-- End .slide-bg -->

            <div class="container-fluid product-slide-content">
                <div class="row">
                    <div class="col-sm-6 offset-sm-6 col-lg-5 offset-lg-7">
                        <h3 style="margin-top: 40px">ACCESORII PROFESIONALE</h3>

                        <img src="assets/images/section/vopsea-decorativa.png" alt="img">
                        <a href="#" class="btn btn-orange">Cumpara acum</a>
                    </div><!-- End .col-lg-5 -->
                </div><!-- End .row -->
            </div><!-- End .product-slide-content -->
        </div><!-- .product-section-slide -->
    </div><!-- End .product-section-slider -->
</div><!-- End .product-slider-section -->

<div class="products-filter-container">
    <div class="container-fluid">
        <div class="row align-items-lg-stretch">
            <aside class="filter-sidebar col-lg-2">
                <div class="sidebar-wrapper">
                    <h3>Produse</h3>

                    <ul class="check-filter-list">
                       
                       
                        <li class="active"><a href="#">VOPSEA LAVABILA</a></li>
                        <li><a href="#">VOPSEA DECORATIVA</a></li>
                        <li><a href="#">VOPSEA METAL</a></li>
                        <li><a href="#">PENTRU LEMN</a></li>
                        <li><a href="#">VOPSEA PARDOSEALA</a></li>
                        <li><a href="#">VOPSEA CERAMICA</a></li>
                        <li><a href="#">HIDROIZOLATII</a></li>
                        <li><a href="#">CAMERE COPII</a></li>
                        <li><a href="#">APARATE ȘI SCULE DE VOPSIT</a></li>
                    </ul>
                </div><!-- End .sidebar-wrapper -->
            </aside><!-- End .col-lg-3 -->

            <div class="col-lg-10">
                <div class="row row-sm justify-content-center">
                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="product.html" class="product-image">
                                    <img src="assets/images/featured-items/pensula-vopsea-decorativa-150x150.jpg" alt="product">
                                </a>
                                <a href="#" class="btn-quickview">Vezi detalii</a>
                            </figure>
                            <div class="product-details">
                                
                
                                <h2 class="product-title">
                                    <a href="product.html">Pensula 100mm pentru vopsea decorativa , Gieffe , din par natural</a>
                                </h2>
                                <div class="price-box">
                                    <span class="product-price">34.90 lei</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                
                        
                    </div><!-- End .col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="product.html" class="product-image">
                                    <img src="assets/images/featured-items/pensula-vopsea-decorativa-150x150.jpg" alt="product">
                                </a>
                                <a href="#" class="btn-quickview">Vezi detalii</a>
                            </figure>
                            <div class="product-details">
                                
                
                                <h2 class="product-title">
                                    <a href="product.html">PENSULA 120MM PENTRU VOPSEA DECORATIVA , GIEFFE , DIN PAR NATURAL</a>
                                </h2>
                                <div class="price-box">
                                    <span class="product-price">39.90 lei</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                
                        
                    </div><!-- End .col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="product.html" class="product-image">
                                    <img src="https://pro-staff.ro/wp-content/uploads/2018/06/doratura_solvente.jpg" alt="product">
                                </a>
                                <a href="ajax/product-quick-view.html" class="btn-quickview">Vezi detalii</a>
                                <span class="product-label label-new">Nou</span>
                            </figure>
                            <div class="product-details">
                                <ul class="config-swatch-list">
                                    <li class="active">
                                        <a href="#" style="background-color: #fdb813;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #f68c1f;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #f27022;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #61c2cb;"></a>
                                    </li>
                                </ul>
                
                                <h2 class="product-title">
                                    <a href="product.html">DORATURA – TIXE – VOPSEA DECORATIVA EXTERIOR CU EFECT AURIU METALIC PE BAZA SOLVENT</a>
                                </h2>
                                <div class="price-box">
                                    <span class="product-price">51.90 lei</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                
                       
                   
                    </div><!-- End .col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="product.html" class="product-image">
                                    <img src="https://pro-staff.ro/wp-content/uploads/2019/01/Primer-grund-antirugina-pe-baza-de-apa-Tixe-300x300.jpg" alt="product">
                                </a>
                                <a href="ajax/product-quick-view.html" class="btn-quickview">Vezi detalii</a>
                                <span class="product-label label-sale">-25%</span>
                            </figure>
                            <div class="product-details">
                                <ul class="config-swatch-list">
                                    <li class="active">
                                        <a href="#" style="background-color: #ff5c01;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #b90029;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #4ac0f2;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #737373;"></a>
                                    </li>
                                </ul>
                
                                <h2 class="product-title">
                                    <a href="product.html">PRIMER ANTIRUGINA PE BAZA DE APA – TIXE</a>
                                </h2>
                                <div class="price-box">
                                    <span class="old-price">69 lei</span>
                                    <span class="product-price">49.90 lei</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                
                        
                    </div><!-- End .col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="product.html" class="product-image">
                                    <img src="https://pro-staff.ro/wp-content/uploads/2020/04/vopsea-decorativa-300x300.jpg" alt="product">
                                </a>
                                <a href="ajax/product-quick-view.html" class="btn-quickview">Vezi detalii</a>
                            </figure>
                            <div class="product-details">
                                <ul class="config-swatch-list">
                                    <li class="active">
                                        <a href="#" style="background-color: #37414a;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #60bb22;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #f2babb;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #a8b1b8;"></a>
                                    </li>
                                </ul>
                
                                <h2 class="product-title">
                                    <a href="product.html">VOPSEA DECORATIVA CU EFECT DE MATASE – TIXE – ORGANZA</a>
                                </h2>
                                <div class="price-box">
                                    <span class="product-price">160 lei</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                
                     
                    </div><!-- End .col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="product.html" class="product-image">
                                    <img src="https://pro-staff.ro/wp-content/uploads/2019/02/glacial-300x300.jpg" alt="product">
                                </a>
                                <a href="ajax/product-quick-view.html" class="btn-quickview">Vezi detalii</a>
                            </figure>
                            <div class="product-details">
                                <ul class="config-swatch-list">
                                    <li class="active">
                                        <a href="#" style="background-color: #000000;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #b2c1c1;"></a>
                                    </li>
                                </ul>
                
                                <h2 class="product-title">
                                    <a href="product.html">GLACIAL – TIXE – VOPSEA EFECT METALE PRETIOASE</a>
                                </h2>
                                <div class="price-box">
                                    <span class="product-price">160 lei</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                
                       
                    </div><!-- End .col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="product.html" class="product-image">
                                    <img src="assets/images/featured-items/pensula-vopsea-decorativa-150x150.jpg" alt="product">
                                </a>
                                <a href="#" class="btn-quickview">Vezi detalii</a>
                            </figure>
                            <div class="product-details">
                                
                
                                <h2 class="product-title">
                                    <a href="product.html">Pensula 100mm pentru vopsea decorativa , Gieffe , din par natural</a>
                                </h2>
                                <div class="price-box">
                                    <span class="product-price">34.90 lei</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                
                      
                    </div><!-- End .col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="product.html" class="product-image">
                                    <img src="assets/images/featured-items/pensula-vopsea-decorativa-150x150.jpg" alt="product">
                                </a>
                                <a href="#" class="btn-quickview">Vezi detalii</a>
                            </figure>
                            <div class="product-details">
                                
                
                                <h2 class="product-title">
                                    <a href="product.html">PENSULA 120MM PENTRU VOPSEA DECORATIVA , GIEFFE , DIN PAR NATURAL</a>
                                </h2>
                                <div class="price-box">
                                    <span class="product-price">39.90 lei</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                    </div><!-- End .col-lg-3 -->





                   <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="product.html" class="product-image">
                                    <img src="https://pro-staff.ro/wp-content/uploads/2018/06/doratura_solvente.jpg" alt="product">
                                </a>
                                <a href="ajax/product-quick-view.html" class="btn-quickview">Vezi detalii</a>
                                <span class="product-label label-new">Nou</span>
                            </figure>
                            <div class="product-details">
                                <ul class="config-swatch-list">
                                    <li class="active">
                                        <a href="#" style="background-color: #fdb813;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #f68c1f;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #f27022;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #61c2cb;"></a>
                                    </li>
                                </ul>
                
                                <h2 class="product-title">
                                    <a href="product.html">DORATURA – TIXE – VOPSEA DECORATIVA EXTERIOR CU EFECT AURIU METALIC PE BAZA SOLVENT</a>
                                </h2>
                                <div class="price-box">
                                    <span class="product-price">51.90 lei</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                
                       
                   
                    </div><!-- End .col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="product.html" class="product-image">
                                    <img src="https://pro-staff.ro/wp-content/uploads/2019/01/Primer-grund-antirugina-pe-baza-de-apa-Tixe-300x300.jpg" alt="product">
                                </a>
                                <a href="ajax/product-quick-view.html" class="btn-quickview">Vezi detalii</a>
                                <span class="product-label label-sale">-25%</span>
                            </figure>
                            <div class="product-details">
                                <ul class="config-swatch-list">
                                    <li class="active">
                                        <a href="#" style="background-color: #ff5c01;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #b90029;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #4ac0f2;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #737373;"></a>
                                    </li>
                                </ul>
                
                                <h2 class="product-title">
                                    <a href="product.html">PRIMER ANTIRUGINA PE BAZA DE APA – TIXE</a>
                                </h2>
                                <div class="price-box">
                                    <span class="old-price">69 lei</span>
                                    <span class="product-price">49.90 lei</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                
                        
                    </div><!-- End .col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="product.html" class="product-image">
                                    <img src="https://pro-staff.ro/wp-content/uploads/2020/04/vopsea-decorativa-300x300.jpg" alt="product">
                                </a>
                                <a href="ajax/product-quick-view.html" class="btn-quickview">Vezi detalii</a>
                            </figure>
                            <div class="product-details">
                                <ul class="config-swatch-list">
                                    <li class="active">
                                        <a href="#" style="background-color: #37414a;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #60bb22;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #f2babb;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #a8b1b8;"></a>
                                    </li>
                                </ul>
                
                                <h2 class="product-title">
                                    <a href="product.html">VOPSEA DECORATIVA CU EFECT DE MATASE – TIXE – ORGANZA</a>
                                </h2>
                                <div class="price-box">
                                    <span class="product-price">160 lei</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                
                     
                    </div><!-- End .col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="product.html" class="product-image">
                                    <img src="https://pro-staff.ro/wp-content/uploads/2019/02/glacial-300x300.jpg" alt="product">
                                </a>
                                <a href="ajax/product-quick-view.html" class="btn-quickview">Vezi detalii</a>
                            </figure>
                            <div class="product-details">
                                <ul class="config-swatch-list">
                                    <li class="active">
                                        <a href="#" style="background-color: #000000;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #b2c1c1;"></a>
                                    </li>
                                </ul>
                
                                <h2 class="product-title">
                                    <a href="product.html">GLACIAL – TIXE – VOPSEA EFECT METALE PRETIOASE</a>
                                </h2>
                                <div class="price-box">
                                    <span class="product-price">160 lei</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                
                       
                    </div><!-- End .col-lg-3 -->
                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="product.html" class="product-image">
                                    <img src="https://pro-staff.ro/wp-content/uploads/2018/06/doratura_solvente.jpg" alt="product">
                                </a>
                                <a href="ajax/product-quick-view.html" class="btn-quickview">Vezi detalii</a>
                                <span class="product-label label-new">Nou</span>
                            </figure>
                            <div class="product-details">
                                <ul class="config-swatch-list">
                                    <li class="active">
                                        <a href="#" style="background-color: #fdb813;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #f68c1f;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #f27022;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #61c2cb;"></a>
                                    </li>
                                </ul>
                
                                <h2 class="product-title">
                                    <a href="product.html">DORATURA – TIXE – VOPSEA DECORATIVA EXTERIOR CU EFECT AURIU METALIC PE BAZA SOLVENT</a>
                                </h2>
                                <div class="price-box">
                                    <span class="product-price">51.90 lei</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                
                       
                   
                    </div><!-- End .col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="product.html" class="product-image">
                                    <img src="https://pro-staff.ro/wp-content/uploads/2019/01/Primer-grund-antirugina-pe-baza-de-apa-Tixe-300x300.jpg" alt="product">
                                </a>
                                <a href="ajax/product-quick-view.html" class="btn-quickview">Vezi detalii</a>
                                <span class="product-label label-sale">-25%</span>
                            </figure>
                            <div class="product-details">
                                <ul class="config-swatch-list">
                                    <li class="active">
                                        <a href="#" style="background-color: #ff5c01;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #b90029;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #4ac0f2;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #737373;"></a>
                                    </li>
                                </ul>
                
                                <h2 class="product-title">
                                    <a href="product.html">PRIMER ANTIRUGINA PE BAZA DE APA – TIXE</a>
                                </h2>
                                <div class="price-box">
                                    <span class="old-price">69 lei</span>
                                    <span class="product-price">49.90 lei</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                
                        
                    </div><!-- End .col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product">
                            <figure class="product-image-container">
                                <a href="product.html" class="product-image">
                                    <img src="https://pro-staff.ro/wp-content/uploads/2020/04/vopsea-decorativa-300x300.jpg" alt="product">
                                </a>
                                <a href="ajax/product-quick-view.html" class="btn-quickview">Vezi detalii</a>
                            </figure>
                            <div class="product-details">
                                <ul class="config-swatch-list">
                                    <li class="active">
                                        <a href="#" style="background-color: #37414a;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #60bb22;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #f2babb;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #a8b1b8;"></a>
                                    </li>
                                </ul>
                
                                <h2 class="product-title">
                                    <a href="product.html">VOPSEA DECORATIVA CU EFECT DE MATASE – TIXE – ORGANZA</a>
                                </h2>
                                <div class="price-box">
                                    <span class="product-price">160 lei</span>
                                </div><!-- End .price-box -->
                            </div><!-- End .product-details -->
                        </div><!-- End .product -->
                
                     
                    </div><!-- End .col-lg-3 -->

                  
                </div><!-- End .row -->

                <div class="product-more-container">
                    <a href="#" class="btn btn-outline-dark">Vezi toate produsele</a>
                </div><!-- End .product-more-container -->
            </div><!-- End .col-lg-9 -->
        </div><!-- End .row -->
    </div><!-- End .container-fluid -->
</div><!-- End .produts-filter-container-->

<div class="info-boxes-container" style="position: relative; z-index: 99;">
    <div class="container-fluid">
        <div class="row">
            <div class="info-box">
                <i class="icon-support"></i>

                <div class="info-box-content">
                    <h4>Consiliere
                        tehnica</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->

            <div class="info-box">
                <i class="icon-shipping"></i>

                <div class="info-box-content">
                    <h4>Transport
                        gratuit in Bucuresti</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->

            <div class="info-box">
                <img style="margin-right: 20px; height: 48px;" src="/assets/icons/paintings.svg" alt="">

                <div class="info-box-content">
                    <h4>Colorare
                        in aproape orice nuanta</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->

            <div class="info-box">
                <img style="margin-right: 20px; height: 48px;" src="/assets/icons/painting.svg" alt="">

                <div class="info-box-content">
                    <h4>Oferim aplicatori
                        la cerere</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->
            
        </div><!-- End .row -->
    </div><!-- End .container-fluid -->
</div>