ul.lst-kix_ifyg8y2fb4zr-7 {
  list-style-type: none
}

ul.lst-kix_ifyg8y2fb4zr-8 {
  list-style-type: none
}

ul.lst-kix_ifyg8y2fb4zr-0 {
  list-style-type: none
}

ul.lst-kix_ifyg8y2fb4zr-1 {
  list-style-type: none
}

ul.lst-kix_ifyg8y2fb4zr-2 {
  list-style-type: none
}

ul.lst-kix_2hlkzpoqunky-8 {
  list-style-type: none
}

ul.lst-kix_ifyg8y2fb4zr-3 {
  list-style-type: none
}

ul.lst-kix_2hlkzpoqunky-7 {
  list-style-type: none
}

ul.lst-kix_ifyg8y2fb4zr-4 {
  list-style-type: none
}

ul.lst-kix_2hlkzpoqunky-6 {
  list-style-type: none
}

ul.lst-kix_ifyg8y2fb4zr-5 {
  list-style-type: none
}

ul.lst-kix_2hlkzpoqunky-5 {
  list-style-type: none
}

ul.lst-kix_ifyg8y2fb4zr-6 {
  list-style-type: none
}

ul.lst-kix_2hlkzpoqunky-4 {
  list-style-type: none
}

ul.lst-kix_2hlkzpoqunky-3 {
  list-style-type: none
}

ul.lst-kix_2hlkzpoqunky-2 {
  list-style-type: none
}

ul.lst-kix_2hlkzpoqunky-1 {
  list-style-type: none
}

ul.lst-kix_2hlkzpoqunky-0 {
  list-style-type: none
}

ul.lst-kix_xn8b1neiekwm-0 {
  list-style-type: none
}

ul.lst-kix_xn8b1neiekwm-1 {
  list-style-type: none
}

ul.lst-kix_xn8b1neiekwm-2 {
  list-style-type: none
}

ul.lst-kix_xn8b1neiekwm-3 {
  list-style-type: none
}

ul.lst-kix_yc47zgratq4c-2 {
  list-style-type: none
}

ul.lst-kix_yc47zgratq4c-3 {
  list-style-type: none
}

ul.lst-kix_yc47zgratq4c-0 {
  list-style-type: none
}

ul.lst-kix_yc47zgratq4c-1 {
  list-style-type: none
}

ul.lst-kix_yc47zgratq4c-8 {
  list-style-type: none
}

ul.lst-kix_yc47zgratq4c-6 {
  list-style-type: none
}

ul.lst-kix_yc47zgratq4c-7 {
  list-style-type: none
}

ul.lst-kix_yc47zgratq4c-4 {
  list-style-type: none
}

ul.lst-kix_yc47zgratq4c-5 {
  list-style-type: none
}

.lst-kix_2hlkzpoqunky-2>li:before {
  content: "\0025a0  "
}

.lst-kix_2hlkzpoqunky-0>li:before {
  content: "\0025cf  "
}

.lst-kix_2hlkzpoqunky-4>li:before {
  content: "\0025cb  "
}

.lst-kix_2hlkzpoqunky-1>li:before {
  content: "\0025cb  "
}

.lst-kix_2hlkzpoqunky-5>li:before {
  content: "\0025a0  "
}

.lst-kix_2hlkzpoqunky-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_nmz5548k495g-6 {
  list-style-type: none
}

ul.lst-kix_xlnas0k57tz4-6 {
  list-style-type: none
}

ul.lst-kix_nmz5548k495g-7 {
  list-style-type: none
}

.lst-kix_ifyg8y2fb4zr-5>li:before {
  content: "\0025cf  "
}

ul.lst-kix_xlnas0k57tz4-7 {
  list-style-type: none
}

ul.lst-kix_nmz5548k495g-8 {
  list-style-type: none
}

ul.lst-kix_xlnas0k57tz4-4 {
  list-style-type: none
}

ul.lst-kix_xlnas0k57tz4-5 {
  list-style-type: none
}

.lst-kix_2hlkzpoqunky-8>li:before {
  content: "\0025a0  "
}

.lst-kix_ifyg8y2fb4zr-3>li:before {
  content: "\0025cb  "
}

.lst-kix_ifyg8y2fb4zr-4>li:before {
  content: "\0025c6  "
}

ul.lst-kix_xlnas0k57tz4-8 {
  list-style-type: none
}

.lst-kix_2hlkzpoqunky-6>li:before {
  content: "\0025cf  "
}

.lst-kix_ifyg8y2fb4zr-2>li:before {
  content: "\0025cf  "
}

ul.lst-kix_nmz5548k495g-0 {
  list-style-type: none
}

.lst-kix_ifyg8y2fb4zr-1>li:before {
  content: "\0025c6  "
}

ul.lst-kix_nmz5548k495g-1 {
  list-style-type: none
}

ul.lst-kix_nmz5548k495g-2 {
  list-style-type: none
}

ul.lst-kix_ubxg1iu7sj75-6 {
  list-style-type: none
}

ul.lst-kix_xlnas0k57tz4-2 {
  list-style-type: none
}

ul.lst-kix_nmz5548k495g-3 {
  list-style-type: none
}

ul.lst-kix_ubxg1iu7sj75-7 {
  list-style-type: none
}

ul.lst-kix_xlnas0k57tz4-3 {
  list-style-type: none
}

ul.lst-kix_nmz5548k495g-4 {
  list-style-type: none
}

.lst-kix_2hlkzpoqunky-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_ubxg1iu7sj75-8 {
  list-style-type: none
}

ul.lst-kix_xlnas0k57tz4-0 {
  list-style-type: none
}

ul.lst-kix_nmz5548k495g-5 {
  list-style-type: none
}

ul.lst-kix_xlnas0k57tz4-1 {
  list-style-type: none
}

ul.lst-kix_ubxg1iu7sj75-2 {
  list-style-type: none
}

ul.lst-kix_ubxg1iu7sj75-3 {
  list-style-type: none
}

ul.lst-kix_ubxg1iu7sj75-4 {
  list-style-type: none
}

ul.lst-kix_ubxg1iu7sj75-5 {
  list-style-type: none
}

.lst-kix_ifyg8y2fb4zr-0>li:before {
  content: "\002794  "
}

ul.lst-kix_ubxg1iu7sj75-0 {
  list-style-type: none
}

ul.lst-kix_ubxg1iu7sj75-1 {
  list-style-type: none
}

.lst-kix_xn8b1neiekwm-3>li:before {
  content: "\0025cf  "
}

.lst-kix_xn8b1neiekwm-2>li:before {
  content: "\0025a0  "
}

.lst-kix_xn8b1neiekwm-4>li:before {
  content: "\0025cb  "
}

.lst-kix_xn8b1neiekwm-1>li:before {
  content: "\0025cb  "
}

.lst-kix_xn8b1neiekwm-5>li:before {
  content: "\0025a0  "
}

.lst-kix_xn8b1neiekwm-7>li:before {
  content: "\0025cb  "
}

.lst-kix_xn8b1neiekwm-0>li:before {
  content: "\0025cf  "
}

.lst-kix_xn8b1neiekwm-6>li:before {
  content: "\0025cf  "
}

.lst-kix_ifyg8y2fb4zr-6>li:before {
  content: "\0025cb  "
}

.lst-kix_xlnas0k57tz4-8>li:before {
  content: "\0025a0  "
}

.lst-kix_ifyg8y2fb4zr-7>li:before {
  content: "\0025c6  "
}

.lst-kix_ifyg8y2fb4zr-8>li:before {
  content: "\0025cf  "
}

.lst-kix_xlnas0k57tz4-7>li:before {
  content: "\0025cb  "
}

.lst-kix_xlnas0k57tz4-4>li:before {
  content: "\0025cb  "
}

.lst-kix_xlnas0k57tz4-5>li:before {
  content: "\0025a0  "
}

.lst-kix_xlnas0k57tz4-6>li:before {
  content: "\0025cf  "
}

.lst-kix_xlnas0k57tz4-0>li:before {
  content: "\0025cf  "
}

.lst-kix_xlnas0k57tz4-1>li:before {
  content: "\0025cb  "
}

.lst-kix_xn8b1neiekwm-8>li:before {
  content: "\0025a0  "
}

.lst-kix_xlnas0k57tz4-3>li:before {
  content: "\0025cf  "
}

.lst-kix_xlnas0k57tz4-2>li:before {
  content: "\0025a0  "
}

.lst-kix_nmz5548k495g-8>li:before {
  content: "\0025a0  "
}

.lst-kix_nmz5548k495g-5>li:before {
  content: "\0025a0  "
}

.lst-kix_nmz5548k495g-6>li:before {
  content: "\0025cf  "
}

.lst-kix_nmz5548k495g-7>li:before {
  content: "\0025cb  "
}

.lst-kix_ubxg1iu7sj75-4>li:before {
  content: "\0025cb  "
}

.lst-kix_ubxg1iu7sj75-3>li:before {
  content: "\0025cf  "
}

.lst-kix_nmz5548k495g-1>li:before {
  content: "\0025cb  "
}

.lst-kix_ubxg1iu7sj75-2>li:before {
  content: "\0025a0  "
}

.lst-kix_yc47zgratq4c-1>li:before {
  content: "\0025cb  "
}

.lst-kix_nmz5548k495g-0>li:before {
  content: "\0025cf  "
}

.lst-kix_nmz5548k495g-2>li:before {
  content: "\0025a0  "
}

.lst-kix_yc47zgratq4c-3>li:before {
  content: "\0025cf  "
}

.lst-kix_ubxg1iu7sj75-1>li:before {
  content: "\0025cb  "
}

.lst-kix_yc47zgratq4c-0>li:before {
  content: "\0025cf  "
}

.lst-kix_yc47zgratq4c-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_xn8b1neiekwm-8 {
  list-style-type: none
}

.lst-kix_nmz5548k495g-4>li:before {
  content: "\0025cb  "
}

.lst-kix_nmz5548k495g-3>li:before {
  content: "\0025cf  "
}

.lst-kix_ubxg1iu7sj75-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_xn8b1neiekwm-4 {
  list-style-type: none
}

ul.lst-kix_xn8b1neiekwm-5 {
  list-style-type: none
}

ul.lst-kix_xn8b1neiekwm-6 {
  list-style-type: none
}

.lst-kix_yc47zgratq4c-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_xn8b1neiekwm-7 {
  list-style-type: none
}

.lst-kix_yc47zgratq4c-7>li:before {
  content: "\0025cb  "
}

.lst-kix_yc47zgratq4c-8>li:before {
  content: "\0025a0  "
}

.lst-kix_yc47zgratq4c-5>li:before {
  content: "\0025a0  "
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

.lst-kix_yc47zgratq4c-6>li:before {
  content: "\0025cf  "
}

.lst-kix_ubxg1iu7sj75-5>li:before {
  content: "\0025a0  "
}

.lst-kix_ubxg1iu7sj75-6>li:before {
  content: "\0025cf  "
}

.lst-kix_ubxg1iu7sj75-8>li:before {
  content: "\0025a0  "
}

.lst-kix_ubxg1iu7sj75-7>li:before {
  content: "\0025cb  "
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c3 {
  border-right-style: solid;
  padding-top: 0pt;
  border-top-width: 0pt;
  border-right-width: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #ffffff;
  margin-left: 36pt;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  text-align: justify;
  padding-right: 0pt
}

.c10 {
  border-right-style: solid;
  border-top-width: 0pt;
  border-right-width: 0pt;
  padding-left: 0pt;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  padding-right: 0pt;
  height: 11pt
}

.c17 {
  border-right-style: solid;
  border-top-width: 0pt;
  border-right-width: 0pt;
  padding-left: 0pt;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  padding-right: 0pt
}

.c14 {
  border-right-style: solid;
  border-top-width: 0pt;
  border-right-width: 0pt;
  padding-left: 0pt;
  border-top-style: solid;
  margin-left: 36pt;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  padding-right: 0pt
}

.c27 {
  border-right-style: solid;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-top-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  padding-right: 0pt
}

.c18 {
  margin-left: 42pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 35pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c11 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 11pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c30 {
  margin-left: 42pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c2 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c23 {
  padding-top: 0pt;
  padding-bottom: 4pt;
  line-height: 1.588235294117647;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c22 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c19 {
  padding-top: 0pt;
  padding-bottom: 11pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
  height: 11pt
}

.c25 {
  padding-top: 0pt;
  padding-bottom: 11pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c12 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal
}

.c24 {
  padding-top: 0pt;
  padding-bottom: 11pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c20 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c6 {
  padding-top: 0pt;
  padding-bottom: 17pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c15 {
  color: #222222;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal
}

.c4 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal
}

.c28 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline
}

.c26 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  text-align: justify
}

.c13 {
  margin-left: 36pt;
  text-indent: -18pt;
  height: 11pt
}

.c9 {
  color: inherit;
  text-decoration: inherit
}

.c7 {
  padding: 0;
  margin: 0
}

.c33 {
  margin-left: 36pt;
  text-indent: -18pt
}

.c1 {
  color: #222222;
  font-weight: 700
}

.c32 {
  orphans: 2;
  widows: 2
}

.c21 {
  margin-left: 36pt;
  padding-left: 0pt
}

.c31 {

}

.c8 {
  background-color: #ffffff
}

.c0 {
  font-size: 10pt
}

.c29 {
  height: 11pt
}

.c5 {
  font-weight: 700
}

.c16 {
  color: #222222
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
