<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Acasa</a></li>
        <li class="breadcrumb-item active" aria-current="page">Proiecte</li>
        <li class="breadcrumb-item active" aria-current="page">Interior</li>
      </ol>
    </div><!-- End .container-fluid -->
  </nav>

  <div class="page-header">
    <div class="container">
      <h1>Proiecte Exterior</h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->

  <div class="container">
    <div class="row">
      <div class="col-lg-9">




        <article class="entry">
          <div class="entry-media">

            <div class="entry-slider owl-carousel owl-theme owl-theme-light">
              <img src="/assets/images/projects/exterior/1.jpeg">
              <img src="/assets/images/projects/exterior/2.jpeg">
              <img src="/assets/images/projects/exterior/3.jpeg">
              <img src="/assets/images/projects/exterior/4.jpeg">
              <img src="/assets/images/projects/exterior/5.jpeg">
            </div><!-- End .entry-slider -->

          </div><!-- End .entry-media -->

          <div class="entry-body">
            <div class="entry-date">
              <span class="day">07</span>
              <span class="month">Mar</span>
            </div><!-- End .entry-date -->

            <h2 class="entry-title">
              Fatada este executata cu tencuiala decorativa Zorka Effekta Siliconica. Lambriul si pazia au fost vopsite
              cu lazura Vaalti Color New de la Tikurilla in nuanta Wenge.
            </h2>



            <div class="entry-meta">
              <span><i class="icon-calendar"></i>Mar 07, 2018</span>
              <span><i class="icon-user"></i> Prostaff</span>
              <span>
                <img src="/assets/icons/paint.svg" alt="" class="paint">
                Proiect realizat cu: lazuara Vaalti color Newde la Tikurillain nuanta Wenge


              </span>
            </div><!-- End .entry-meta -->
          </div><!-- End .entry-body -->
        </article><!-- End .entry -->




      </div><!-- End .col-lg-9 -->

      <aside class="sidebar col-lg-3">
        <div class="sidebar-wrapper">


          <div class="widget widget-categories">
            <h4 class="widget-title">Proiecte</h4>

            <ul class="list">
              <li><a routerLink="/proiecte/interior">Interior</a></li>
              <li><a routerLink="/proiecte/exterior">Exterior</a></li>

            </ul>
          </div><!-- End .widget -->





        </div><!-- End .sidebar-wrapper -->
      </aside><!-- End .col-lg-3 -->
    </div><!-- End .row -->
  </div><!-- End .container -->

  <div class="mb-6"></div><!-- margin -->
</main><!-- End .main -->
