.section-dezinfectare {
    padding: 120px 0;
    background-image: url('/assets/images/firma-de-curatenie-bucuresti.jpg');
    background-size: cover;
    text-align: center;

    span {
        background-color: #F9D11D;
        padding: .4rem 16px;
    }

    h4 {
      color: #fff;
      margin: 4rem 0;
      line-height: 2;
    }

    @media (max-width: 991px) {
      h1 {
        line-height: 1.8;
        font-size: 30px;
      }
      
    }
}