.lst-kix_aaupa9o24bf-2>li {
  counter-increment: lst-ctn-kix_aaupa9o24bf-2
}

ul.lst-kix_9iyqmsvvzjhs-4 {
  list-style-type: none
}

ol.lst-kix_aaupa9o24bf-0 {
  list-style-type: none
}

ul.lst-kix_9iyqmsvvzjhs-5 {
  list-style-type: none
}

ul.lst-kix_9iyqmsvvzjhs-6 {
  list-style-type: none
}

ol.lst-kix_aaupa9o24bf-6.start {
  counter-reset: lst-ctn-kix_aaupa9o24bf-6 0
}

ul.lst-kix_9iyqmsvvzjhs-7 {
  list-style-type: none
}

ul.lst-kix_9iyqmsvvzjhs-0 {
  list-style-type: none
}

ul.lst-kix_9iyqmsvvzjhs-1 {
  list-style-type: none
}

ul.lst-kix_9iyqmsvvzjhs-2 {
  list-style-type: none
}

.lst-kix_ecgalw4yp8ne-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_9iyqmsvvzjhs-3 {
  list-style-type: none
}

.lst-kix_ecgalw4yp8ne-0>li:before {
  content: "\0025cf  "
}

.lst-kix_aaupa9o24bf-8>li {
  counter-increment: lst-ctn-kix_aaupa9o24bf-8
}

ol.lst-kix_aaupa9o24bf-3.start {
  counter-reset: lst-ctn-kix_aaupa9o24bf-3 0
}

ol.lst-kix_aaupa9o24bf-7 {
  list-style-type: none
}

ol.lst-kix_aaupa9o24bf-8 {
  list-style-type: none
}

ol.lst-kix_aaupa9o24bf-5 {
  list-style-type: none
}

ol.lst-kix_aaupa9o24bf-6 {
  list-style-type: none
}

ol.lst-kix_aaupa9o24bf-3 {
  list-style-type: none
}

ul.lst-kix_9iyqmsvvzjhs-8 {
  list-style-type: none
}

ol.lst-kix_aaupa9o24bf-4 {
  list-style-type: none
}

ol.lst-kix_aaupa9o24bf-1 {
  list-style-type: none
}

ol.lst-kix_aaupa9o24bf-2 {
  list-style-type: none
}

ul.lst-kix_ecgalw4yp8ne-8 {
  list-style-type: none
}

ul.lst-kix_ecgalw4yp8ne-7 {
  list-style-type: none
}

ul.lst-kix_ecgalw4yp8ne-6 {
  list-style-type: none
}

.lst-kix_9iyqmsvvzjhs-6>li:before {
  content: "-  "
}

ul.lst-kix_ecgalw4yp8ne-5 {
  list-style-type: none
}

ul.lst-kix_ecgalw4yp8ne-4 {
  list-style-type: none
}

.lst-kix_9iyqmsvvzjhs-5>li:before {
  content: "-  "
}

ul.lst-kix_ecgalw4yp8ne-3 {
  list-style-type: none
}

ol.lst-kix_aaupa9o24bf-0.start {
  counter-reset: lst-ctn-kix_aaupa9o24bf-0 0
}

ul.lst-kix_ecgalw4yp8ne-2 {
  list-style-type: none
}

.lst-kix_9iyqmsvvzjhs-4>li:before {
  content: "-  "
}

ul.lst-kix_ecgalw4yp8ne-1 {
  list-style-type: none
}

ul.lst-kix_ecgalw4yp8ne-0 {
  list-style-type: none
}

.lst-kix_9iyqmsvvzjhs-3>li:before {
  content: "-  "
}

.lst-kix_9iyqmsvvzjhs-0>li:before {
  content: "-  "
}

.lst-kix_9iyqmsvvzjhs-2>li:before {
  content: "-  "
}

.lst-kix_aaupa9o24bf-7>li {
  counter-increment: lst-ctn-kix_aaupa9o24bf-7
}

.lst-kix_9iyqmsvvzjhs-1>li:before {
  content: "-  "
}

.lst-kix_aaupa9o24bf-1>li {
  counter-increment: lst-ctn-kix_aaupa9o24bf-1
}

ol.lst-kix_aaupa9o24bf-4.start {
  counter-reset: lst-ctn-kix_aaupa9o24bf-4 0
}

ol.lst-kix_aaupa9o24bf-7.start {
  counter-reset: lst-ctn-kix_aaupa9o24bf-7 0
}

.lst-kix_aaupa9o24bf-4>li {
  counter-increment: lst-ctn-kix_aaupa9o24bf-4
}

.lst-kix_aaupa9o24bf-5>li {
  counter-increment: lst-ctn-kix_aaupa9o24bf-5
}

ol.lst-kix_aaupa9o24bf-1.start {
  counter-reset: lst-ctn-kix_aaupa9o24bf-1 0
}

.lst-kix_aaupa9o24bf-6>li {
  counter-increment: lst-ctn-kix_aaupa9o24bf-6
}

ol.lst-kix_aaupa9o24bf-8.start {
  counter-reset: lst-ctn-kix_aaupa9o24bf-8 0
}

.lst-kix_9iyqmsvvzjhs-7>li:before {
  content: "-  "
}

.lst-kix_9iyqmsvvzjhs-8>li:before {
  content: "-  "
}

.lst-kix_aaupa9o24bf-3>li:before {
  content: ""counter(lst-ctn-kix_aaupa9o24bf-3, decimal) ". "
}

.lst-kix_aaupa9o24bf-5>li:before {
  content: ""counter(lst-ctn-kix_aaupa9o24bf-5, lower-roman) ". "
}

.lst-kix_aaupa9o24bf-2>li:before {
  content: ""counter(lst-ctn-kix_aaupa9o24bf-2, lower-roman) ". "
}

.lst-kix_aaupa9o24bf-6>li:before {
  content: ""counter(lst-ctn-kix_aaupa9o24bf-6, decimal) ". "
}

.lst-kix_aaupa9o24bf-3>li {
  counter-increment: lst-ctn-kix_aaupa9o24bf-3
}

.lst-kix_aaupa9o24bf-1>li:before {
  content: ""counter(lst-ctn-kix_aaupa9o24bf-1, lower-latin) ". "
}

ol.lst-kix_aaupa9o24bf-5.start {
  counter-reset: lst-ctn-kix_aaupa9o24bf-5 0
}

.lst-kix_aaupa9o24bf-7>li:before {
  content: ""counter(lst-ctn-kix_aaupa9o24bf-7, lower-latin) ". "
}

.lst-kix_aaupa9o24bf-0>li {
  counter-increment: lst-ctn-kix_aaupa9o24bf-0
}

.lst-kix_ecgalw4yp8ne-8>li:before {
  content: "\0025a0  "
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

.lst-kix_ecgalw4yp8ne-7>li:before {
  content: "\0025cb  "
}

.lst-kix_aaupa9o24bf-0>li:before {
  content: ""counter(lst-ctn-kix_aaupa9o24bf-0, decimal) ". "
}

.lst-kix_aaupa9o24bf-8>li:before {
  content: ""counter(lst-ctn-kix_aaupa9o24bf-8, lower-roman) ". "
}

.lst-kix_ecgalw4yp8ne-6>li:before {
  content: "\0025cf  "
}

ol.lst-kix_aaupa9o24bf-2.start {
  counter-reset: lst-ctn-kix_aaupa9o24bf-2 0
}

.lst-kix_ecgalw4yp8ne-5>li:before {
  content: "\0025a0  "
}

.lst-kix_ecgalw4yp8ne-2>li:before {
  content: "\0025a0  "
}

.lst-kix_ecgalw4yp8ne-4>li:before {
  content: "\0025cb  "
}

.lst-kix_ecgalw4yp8ne-3>li:before {
  content: "\0025cf  "
}

.lst-kix_aaupa9o24bf-4>li:before {
  content: ""counter(lst-ctn-kix_aaupa9o24bf-4, lower-latin) ". "
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c1 {
  background-color: #ffffff;
  margin-left: 36pt;
  padding-top: 8px;
  padding-left: 0pt;
  padding-bottom: 8px;
  
  orphans: 2;
  widows: 2;
  text-align: left
}

.c3 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  
 
  font-style: normal
}

.c9 {
  background-color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  
  orphans: 2;
  widows: 2;
  text-align: left
}

.c10 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c7 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  
 
  font-style: normal
}

.c4 {
  background-color: #ffffff;
  padding-top: 8px;
  padding-bottom: 12pt;
  
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c13 {
  background-color: #ffffff;
  padding-top: 8px;
  padding-bottom: 10pt;
  
  orphans: 2;
  widows: 2;
  text-align: left
}

.c5 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
 
  font-style: normal
}

.c16 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Times New Roman";
  font-style: normal
}

.c8 {
  color: #ff0000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  
 
  font-style: normal
}

.c11 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  
  orphans: 2;
  widows: 2;
  text-align: left
}

.c15 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
 
  font-style: normal
}

.c18 {
  text-decoration: none;
  vertical-align: baseline;
 
  font-style: normal
}

.c0 {
  
  color: #222222;
  font-weight: 700
}

.c17 {
  background-color: #ffffff;
 
}

.c14 {
  padding: 0;
  margin: 0
}

.c2 {
  color: #222222;
  font-size: 10pt
}

.c6 {
  color: #3e4555;
  font-size: 17.5pt
}

.c12 {
  font-size: 10pt
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
 
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
 
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  
}

h1 {
  padding-top: 20pt;
  color: #000000;
 
 
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
 
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
 
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
 
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 8px;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
 
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 8px;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
 
  
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
