.lst-kix_n3707xu3rvpp-2>li {
  counter-increment: lst-ctn-kix_n3707xu3rvpp-2
}

.lst-kix_5tfszf1a2wy-8>li:before {
  content: "\0025a0  "
}

.lst-kix_zls7it7vl8t-7>li:before {
  content: "\0025cb  "
}

.lst-kix_zls7it7vl8t-8>li:before {
  content: "\0025a0  "
}

.lst-kix_5tfszf1a2wy-5>li:before {
  content: "\0025a0  "
}

.lst-kix_5tfszf1a2wy-7>li:before {
  content: "\0025cb  "
}

.lst-kix_d383mz5hy5nv-2>li:before {
  content: "\0025a0  "
}

.lst-kix_5tfszf1a2wy-6>li:before {
  content: "\0025cf  "
}

.lst-kix_ebr4nlc10me4-6>li:before {
  content: "\0025cf  "
}

.lst-kix_ebr4nlc10me4-7>li:before {
  content: "\0025cb  "
}

.lst-kix_zls7it7vl8t-3>li:before {
  content: "\0025cf  "
}

.lst-kix_zls7it7vl8t-4>li:before {
  content: "\0025cb  "
}

.lst-kix_ebr4nlc10me4-5>li:before {
  content: "\0025a0  "
}

.lst-kix_d383mz5hy5nv-1>li:before {
  content: "\0025cb  "
}

.lst-kix_zls7it7vl8t-2>li:before {
  content: "\0025a0  "
}

.lst-kix_zls7it7vl8t-6>li:before {
  content: "\0025cf  "
}

.lst-kix_ebr4nlc10me4-2>li:before {
  content: "\0025a0  "
}

.lst-kix_ebr4nlc10me4-3>li:before {
  content: "\0025cf  "
}

.lst-kix_d383mz5hy5nv-0>li:before {
  content: "\0025cf  "
}

ol.lst-kix_n3707xu3rvpp-5.start {
  counter-reset: lst-ctn-kix_n3707xu3rvpp-5 0
}

.lst-kix_ebr4nlc10me4-4>li:before {
  content: "\0025cb  "
}

.lst-kix_zls7it7vl8t-5>li:before {
  content: "\0025a0  "
}

.lst-kix_n3707xu3rvpp-0>li {
  counter-increment: lst-ctn-kix_n3707xu3rvpp-0
}

ul.lst-kix_ebr4nlc10me4-1 {
  list-style-type: none
}

ul.lst-kix_ebr4nlc10me4-0 {
  list-style-type: none
}

.lst-kix_ryj5px1unu6z-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_ebr4nlc10me4-5 {
  list-style-type: none
}

.lst-kix_ryj5px1unu6z-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_ebr4nlc10me4-4 {
  list-style-type: none
}

.lst-kix_zls7it7vl8t-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_ebr4nlc10me4-3 {
  list-style-type: none
}

ul.lst-kix_ebr4nlc10me4-2 {
  list-style-type: none
}

.lst-kix_ryj5px1unu6z-3>li:before {
  content: "\0025cf  "
}

.lst-kix_ebr4nlc10me4-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_ebr4nlc10me4-8 {
  list-style-type: none
}

.lst-kix_zls7it7vl8t-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_ebr4nlc10me4-7 {
  list-style-type: none
}

.lst-kix_ryj5px1unu6z-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_ebr4nlc10me4-6 {
  list-style-type: none
}

ul.lst-kix_5tfszf1a2wy-7 {
  list-style-type: none
}

ol.lst-kix_n3707xu3rvpp-4.start {
  counter-reset: lst-ctn-kix_n3707xu3rvpp-4 0
}

ul.lst-kix_5tfszf1a2wy-8 {
  list-style-type: none
}

ul.lst-kix_5tfszf1a2wy-5 {
  list-style-type: none
}

ul.lst-kix_5tfszf1a2wy-6 {
  list-style-type: none
}

ul.lst-kix_ryj5px1unu6z-2 {
  list-style-type: none
}

ul.lst-kix_ryj5px1unu6z-3 {
  list-style-type: none
}

ul.lst-kix_5tfszf1a2wy-0 {
  list-style-type: none
}

ul.lst-kix_ryj5px1unu6z-0 {
  list-style-type: none
}

ul.lst-kix_ryj5px1unu6z-1 {
  list-style-type: none
}

ul.lst-kix_ryj5px1unu6z-6 {
  list-style-type: none
}

.lst-kix_ryj5px1unu6z-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_5tfszf1a2wy-3 {
  list-style-type: none
}

ul.lst-kix_ryj5px1unu6z-7 {
  list-style-type: none
}

ul.lst-kix_5tfszf1a2wy-4 {
  list-style-type: none
}

ul.lst-kix_ryj5px1unu6z-4 {
  list-style-type: none
}

.lst-kix_ryj5px1unu6z-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_5tfszf1a2wy-1 {
  list-style-type: none
}

ul.lst-kix_ryj5px1unu6z-5 {
  list-style-type: none
}

ul.lst-kix_5tfszf1a2wy-2 {
  list-style-type: none
}

ul.lst-kix_ryj5px1unu6z-8 {
  list-style-type: none
}

.lst-kix_ebr4nlc10me4-1>li:before {
  content: "\0025cb  "
}

.lst-kix_ebr4nlc10me4-0>li:before {
  content: "\0025cf  "
}

.lst-kix_5tfszf1a2wy-1>li:before {
  content: "\0025cb  "
}

.lst-kix_5tfszf1a2wy-3>li:before {
  content: "\0025cf  "
}

.lst-kix_5tfszf1a2wy-0>li:before {
  content: "\0025cf  "
}

.lst-kix_5tfszf1a2wy-4>li:before {
  content: "\0025cb  "
}

.lst-kix_5tfszf1a2wy-2>li:before {
  content: "\0025a0  "
}

.lst-kix_oneoon161yn6-5>li:before {
  content: "\0025a0  "
}

.lst-kix_n3707xu3rvpp-3>li:before {
  content: ""counter(lst-ctn-kix_n3707xu3rvpp-3, decimal) ". "
}

.lst-kix_n3707xu3rvpp-7>li:before {
  content: ""counter(lst-ctn-kix_n3707xu3rvpp-7, lower-latin) ". "
}

.lst-kix_oneoon161yn6-1>li:before {
  content: "\0025cb  "
}

.lst-kix_oneoon161yn6-7>li:before {
  content: "\0025cb  "
}

.lst-kix_n3707xu3rvpp-5>li:before {
  content: ""counter(lst-ctn-kix_n3707xu3rvpp-5, lower-roman) ". "
}

.lst-kix_foq3a69tjxvs-8>li:before {
  content: "\0025a0  "
}

.lst-kix_foq3a69tjxvs-6>li:before {
  content: "\0025cf  "
}

.lst-kix_oneoon161yn6-3>li:before {
  content: "\0025cf  "
}

.lst-kix_n3707xu3rvpp-1>li:before {
  content: ""counter(lst-ctn-kix_n3707xu3rvpp-1, lower-latin) ". "
}

.lst-kix_foq3a69tjxvs-4>li:before {
  content: "\0025cb  "
}

.lst-kix_foq3a69tjxvs-2>li:before {
  content: "\0025a0  "
}

.lst-kix_akwxm8gnshdk-6>li:before {
  content: "\0025cf  "
}

.lst-kix_foq3a69tjxvs-0>li:before {
  content: "\0025cf  "
}

.lst-kix_akwxm8gnshdk-8>li:before {
  content: "\0025a0  "
}

.lst-kix_ryj5px1unu6z-1>li:before {
  content: "\0025cb  "
}

.lst-kix_de2z8b3ggl7r-8>li:before {
  content: "\0025a0  "
}

.lst-kix_7nri10a7vy2l-5>li:before {
  content: "\0025a0  "
}

.lst-kix_de2z8b3ggl7r-6>li:before {
  content: "\0025cf  "
}

.lst-kix_7nri10a7vy2l-7>li:before {
  content: "\0025cb  "
}

.lst-kix_de2z8b3ggl7r-2>li:before {
  content: "\0025a0  "
}

.lst-kix_akwxm8gnshdk-2>li:before {
  content: "\0025a0  "
}

.lst-kix_akwxm8gnshdk-4>li:before {
  content: "\0025cb  "
}

ol.lst-kix_n3707xu3rvpp-7.start {
  counter-reset: lst-ctn-kix_n3707xu3rvpp-7 0
}

.lst-kix_de2z8b3ggl7r-0>li:before {
  content: "\0025cf  "
}

.lst-kix_de2z8b3ggl7r-4>li:before {
  content: "\0025cb  "
}

.lst-kix_7nri10a7vy2l-1>li:before {
  content: "\0025cb  "
}

.lst-kix_akwxm8gnshdk-0>li:before {
  content: "\0025cf  "
}

.lst-kix_7nri10a7vy2l-3>li:before {
  content: "\0025cf  "
}

.lst-kix_d383mz5hy5nv-3>li:before {
  content: "\0025cf  "
}

.lst-kix_d383mz5hy5nv-5>li:before {
  content: "\0025a0  "
}

.lst-kix_d383mz5hy5nv-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_de2z8b3ggl7r-0 {
  list-style-type: none
}

ul.lst-kix_de2z8b3ggl7r-1 {
  list-style-type: none
}

ol.lst-kix_n3707xu3rvpp-6.start {
  counter-reset: lst-ctn-kix_n3707xu3rvpp-6 0
}

ul.lst-kix_de2z8b3ggl7r-6 {
  list-style-type: none
}

ul.lst-kix_de2z8b3ggl7r-7 {
  list-style-type: none
}

ul.lst-kix_de2z8b3ggl7r-8 {
  list-style-type: none
}

ul.lst-kix_de2z8b3ggl7r-2 {
  list-style-type: none
}

ul.lst-kix_de2z8b3ggl7r-3 {
  list-style-type: none
}

.lst-kix_n3707xu3rvpp-4>li {
  counter-increment: lst-ctn-kix_n3707xu3rvpp-4
}

ul.lst-kix_de2z8b3ggl7r-4 {
  list-style-type: none
}

ul.lst-kix_de2z8b3ggl7r-5 {
  list-style-type: none
}

ul.lst-kix_oneoon161yn6-2 {
  list-style-type: none
}

ul.lst-kix_oneoon161yn6-3 {
  list-style-type: none
}

ul.lst-kix_oneoon161yn6-0 {
  list-style-type: none
}

ul.lst-kix_oneoon161yn6-1 {
  list-style-type: none
}

ol.lst-kix_n3707xu3rvpp-0 {
  list-style-type: none
}

ol.lst-kix_n3707xu3rvpp-1 {
  list-style-type: none
}

ol.lst-kix_n3707xu3rvpp-2 {
  list-style-type: none
}

ol.lst-kix_n3707xu3rvpp-3 {
  list-style-type: none
}

ol.lst-kix_n3707xu3rvpp-4 {
  list-style-type: none
}

ol.lst-kix_n3707xu3rvpp-5 {
  list-style-type: none
}

ol.lst-kix_n3707xu3rvpp-2.start {
  counter-reset: lst-ctn-kix_n3707xu3rvpp-2 0
}

.lst-kix_n3707xu3rvpp-3>li {
  counter-increment: lst-ctn-kix_n3707xu3rvpp-3
}

ul.lst-kix_oneoon161yn6-6 {
  list-style-type: none
}

ul.lst-kix_oneoon161yn6-7 {
  list-style-type: none
}

ol.lst-kix_n3707xu3rvpp-8.start {
  counter-reset: lst-ctn-kix_n3707xu3rvpp-8 0
}

ul.lst-kix_oneoon161yn6-4 {
  list-style-type: none
}

ul.lst-kix_oneoon161yn6-5 {
  list-style-type: none
}

ul.lst-kix_oneoon161yn6-8 {
  list-style-type: none
}

.lst-kix_n3707xu3rvpp-5>li {
  counter-increment: lst-ctn-kix_n3707xu3rvpp-5
}

ol.lst-kix_n3707xu3rvpp-6 {
  list-style-type: none
}

ul.lst-kix_foq3a69tjxvs-0 {
  list-style-type: none
}

ol.lst-kix_n3707xu3rvpp-7 {
  list-style-type: none
}

ol.lst-kix_n3707xu3rvpp-8 {
  list-style-type: none
}

ul.lst-kix_foq3a69tjxvs-2 {
  list-style-type: none
}

ul.lst-kix_foq3a69tjxvs-1 {
  list-style-type: none
}

ul.lst-kix_foq3a69tjxvs-8 {
  list-style-type: none
}

ul.lst-kix_foq3a69tjxvs-7 {
  list-style-type: none
}

ol.lst-kix_n3707xu3rvpp-3.start {
  counter-reset: lst-ctn-kix_n3707xu3rvpp-3 0
}

ul.lst-kix_foq3a69tjxvs-4 {
  list-style-type: none
}

ul.lst-kix_foq3a69tjxvs-3 {
  list-style-type: none
}

ul.lst-kix_foq3a69tjxvs-6 {
  list-style-type: none
}

ul.lst-kix_foq3a69tjxvs-5 {
  list-style-type: none
}

.lst-kix_oneoon161yn6-4>li:before {
  content: "\0025cb  "
}

.lst-kix_n3707xu3rvpp-2>li:before {
  content: ""counter(lst-ctn-kix_n3707xu3rvpp-2, lower-roman) ". "
}

.lst-kix_n3707xu3rvpp-4>li:before {
  content: ""counter(lst-ctn-kix_n3707xu3rvpp-4, lower-latin) ". "
}

ul.lst-kix_d383mz5hy5nv-1 {
  list-style-type: none
}

.lst-kix_oneoon161yn6-2>li:before {
  content: "\0025a0  "
}

.lst-kix_oneoon161yn6-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_d383mz5hy5nv-2 {
  list-style-type: none
}

ul.lst-kix_d383mz5hy5nv-0 {
  list-style-type: none
}

.lst-kix_oneoon161yn6-0>li:before {
  content: "\0025cf  "
}

.lst-kix_oneoon161yn6-8>li:before {
  content: "\0025a0  "
}

.lst-kix_n3707xu3rvpp-6>li:before {
  content: ""counter(lst-ctn-kix_n3707xu3rvpp-6, decimal) ". "
}

.lst-kix_n3707xu3rvpp-8>li {
  counter-increment: lst-ctn-kix_n3707xu3rvpp-8
}

.lst-kix_foq3a69tjxvs-5>li:before {
  content: "\0025a0  "
}

.lst-kix_foq3a69tjxvs-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_d383mz5hy5nv-5 {
  list-style-type: none
}

.lst-kix_foq3a69tjxvs-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_d383mz5hy5nv-6 {
  list-style-type: none
}

ul.lst-kix_7nri10a7vy2l-0 {
  list-style-type: none
}

ul.lst-kix_d383mz5hy5nv-3 {
  list-style-type: none
}

.lst-kix_n3707xu3rvpp-0>li:before {
  content: ""counter(lst-ctn-kix_n3707xu3rvpp-0, decimal) ". "
}

ul.lst-kix_d383mz5hy5nv-4 {
  list-style-type: none
}

ul.lst-kix_akwxm8gnshdk-8 {
  list-style-type: none
}

ul.lst-kix_d383mz5hy5nv-7 {
  list-style-type: none
}

ul.lst-kix_d383mz5hy5nv-8 {
  list-style-type: none
}

ul.lst-kix_akwxm8gnshdk-6 {
  list-style-type: none
}

ul.lst-kix_akwxm8gnshdk-7 {
  list-style-type: none
}

ul.lst-kix_akwxm8gnshdk-4 {
  list-style-type: none
}

ul.lst-kix_akwxm8gnshdk-5 {
  list-style-type: none
}

ul.lst-kix_akwxm8gnshdk-2 {
  list-style-type: none
}

ul.lst-kix_akwxm8gnshdk-3 {
  list-style-type: none
}

.lst-kix_n3707xu3rvpp-6>li {
  counter-increment: lst-ctn-kix_n3707xu3rvpp-6
}

ul.lst-kix_akwxm8gnshdk-0 {
  list-style-type: none
}

ul.lst-kix_akwxm8gnshdk-1 {
  list-style-type: none
}

ul.lst-kix_zls7it7vl8t-2 {
  list-style-type: none
}

ul.lst-kix_zls7it7vl8t-1 {
  list-style-type: none
}

ul.lst-kix_zls7it7vl8t-4 {
  list-style-type: none
}

ul.lst-kix_zls7it7vl8t-3 {
  list-style-type: none
}

.lst-kix_akwxm8gnshdk-5>li:before {
  content: "\0025a0  "
}

.lst-kix_foq3a69tjxvs-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_zls7it7vl8t-6 {
  list-style-type: none
}

ul.lst-kix_zls7it7vl8t-5 {
  list-style-type: none
}

ol.lst-kix_n3707xu3rvpp-1.start {
  counter-reset: lst-ctn-kix_n3707xu3rvpp-1 0
}

ul.lst-kix_zls7it7vl8t-8 {
  list-style-type: none
}

ul.lst-kix_zls7it7vl8t-7 {
  list-style-type: none
}

ul.lst-kix_zls7it7vl8t-0 {
  list-style-type: none
}

.lst-kix_akwxm8gnshdk-7>li:before {
  content: "\0025cb  "
}

.lst-kix_n3707xu3rvpp-8>li:before {
  content: ""counter(lst-ctn-kix_n3707xu3rvpp-8, lower-roman) ". "
}

.lst-kix_7nri10a7vy2l-6>li:before {
  content: "\0025cf  "
}

.lst-kix_7nri10a7vy2l-8>li:before {
  content: "\0025a0  "
}

.lst-kix_de2z8b3ggl7r-7>li:before {
  content: "\0025cb  "
}

.lst-kix_ryj5px1unu6z-2>li:before {
  content: "\0025a0  "
}

.lst-kix_de2z8b3ggl7r-5>li:before {
  content: "\0025a0  "
}

.lst-kix_ryj5px1unu6z-0>li:before {
  content: "\0025cf  "
}

.lst-kix_akwxm8gnshdk-3>li:before {
  content: "\0025cf  "
}

.lst-kix_de2z8b3ggl7r-3>li:before {
  content: "\0025cf  "
}

.lst-kix_7nri10a7vy2l-0>li:before {
  content: "\0025cf  "
}

.lst-kix_7nri10a7vy2l-2>li:before {
  content: "\0025a0  "
}

.lst-kix_7nri10a7vy2l-4>li:before {
  content: "\0025cb  "
}

.lst-kix_akwxm8gnshdk-1>li:before {
  content: "\0025cb  "
}

.lst-kix_de2z8b3ggl7r-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_7nri10a7vy2l-6 {
  list-style-type: none
}

ul.lst-kix_7nri10a7vy2l-5 {
  list-style-type: none
}

.lst-kix_d383mz5hy5nv-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_7nri10a7vy2l-8 {
  list-style-type: none
}

ul.lst-kix_7nri10a7vy2l-7 {
  list-style-type: none
}

ul.lst-kix_7nri10a7vy2l-2 {
  list-style-type: none
}

ul.lst-kix_7nri10a7vy2l-1 {
  list-style-type: none
}

ul.lst-kix_7nri10a7vy2l-4 {
  list-style-type: none
}

ul.lst-kix_7nri10a7vy2l-3 {
  list-style-type: none
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

.lst-kix_d383mz5hy5nv-6>li:before {
  content: "\0025cf  "
}

ol.lst-kix_n3707xu3rvpp-0.start {
  counter-reset: lst-ctn-kix_n3707xu3rvpp-0 0
}

.lst-kix_d383mz5hy5nv-8>li:before {
  content: "\0025a0  "
}

.lst-kix_n3707xu3rvpp-7>li {
  counter-increment: lst-ctn-kix_n3707xu3rvpp-7
}

.lst-kix_n3707xu3rvpp-1>li {
  counter-increment: lst-ctn-kix_n3707xu3rvpp-1
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c22 {
  border-right-style: solid;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  padding-right: 0pt
}

.c4 {
  background-color: #ffffff;
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c13 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  font-weight: 700;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-family: "Arial";
  font-style: italic
}

.c3 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 11pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
  height: 11pt
}

.c0 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Arial";
  font-style: normal
}

.c12 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c23 {
  background-color: #ffffff;
  padding-top: 11pt;
  padding-bottom: 11pt;
  line-height: 1.3999999999999997;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c1 {
  background-color: #ffffff;
  padding-top: 11pt;
  padding-bottom: 11pt;
  line-height: 1.3999999999999997;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c2 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c6 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c5 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 11pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c25 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 11pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c17 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: italic
}

.c34 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c27 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  text-align: justify
}

.c35 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.4;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c16 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal
}

.c20 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal
}

.c32 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline
}

.c19 {
  background-color: #ffffff;
 
}

.c26 {
  margin-left: 53pt;
  padding-left: 0pt
}

.c14 {
  color: #222222;
  font-weight: 700
}

.c9 {
  color: #231f20;
  font-size: 10pt
}

.c21 {
  margin-left: 21.3pt;
  padding-left: 0pt
}

.c24 {
  color: inherit;
  text-decoration: inherit
}

.c8 {
  margin-left: 36pt;
  padding-left: 0pt
}

.c7 {
  padding: 0;
  margin: 0
}

.c29 {
  padding-left: 0pt
}

.c31 {
  background-color: #ffffff
}

.c15 {
  font-weight: 700
}

.c10 {
  height: 11pt
}

.c18 {
  margin-left: 36pt
}

.c33 {
  color: #222222
}

.c11 {
  font-size: 10pt
}

.c30 {
  font-style: italic
}

.c28 {
  page-break-after: avoid
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
