/* You can add global styles to this file, and also import other style files */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pl-40 {
  padding-left: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.ng-image-slider .ng-image-slider-container .main .next,
.ng-image-slider .ng-image-slider-container .main .prev {
  border-radius: 0 !important;
  background-color: #F9D11D !important;
  color: #333 !important;
}

.ng-image-slider .ng-image-slider-container .main .next:hover,
.ng-image-slider .ng-image-slider-container .main .prev:hover {
  text-decoration: none !important;
}

.ng-image-slider {
  margin: 4rem 0;
}

a,
.widget ul li a i {
  color: #F9D11D;
}

a:hover {
  cursor: pointer;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #F9D11D;
}

.menu-block {
  &.navbar-fixed-top {
    @media only screen and (max-width: 767px) and (min-width: 319px) {
      background-color: #fff;
      box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0 100px 80px rgba(0, 0, 0, 0.07);

      img {
        width: 80%;
      }
    }
  }

}

@media only screen and (max-width: 767px) and (min-width: 319px) {
  .call-us {
    position: absolute;
    z-index: 999;
    width: 90%;
    left: 0;
    top: 20px;
    justify-content: flex-start !important;

    img {
      background: #fff;
      padding: 8px 4px;
      margin-top: 20px;
      border-radius: 4px;
    }
  }

  .logo-block .call-us p {
    color: #fff;

    span {
      color: #fff;
    }

  }
}

@media (max-width: 991px) {
  .menu-block .navbar-nav li {
    a {
      color: #333;
    }

    &.active {
      a {
        color: #F9D11D !important;
      }
    }
  }

  .services-content-area {
    padding-top: 40px;
  }
}

@media (max-width: 991px) {
  .menu-block .navbar-nav>li:last-child {
    display: block;
  }
}

