:host {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
}


.product-single-container {
  display: block;
  max-width: 980px;
  height: 80vh;
  margin: auto;
}

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .75;
    z-index: 900;
}


.mfp-close {
  color: #333;
}

.product-title {
  padding-top: 30px;
}

.color-class {
  img {
    height: 100%;
  }
}

.product-gallery__featured {
  border-radius: 8px;
  border: solid 1px #F0F3F4;
  background-color: #fff;
  
}

.product-gallery__carousel {
  margin-top: 9px;

  owl-carousel-o img{
    border-radius: 8px;
    border: solid 1px #F0F3F4;
  }
}

.product-gallery__carousel-item--active {
  border: solid 1px #459AD4 !important;
}

owl-carousel-o::ng-deep{
    img{
      border-radius: 8px;
    }
}